openapi: 3.0.3
info:
  title: Walkies API
  description: |
    The Walkies API allows pet sitting businesses to integrate with external tools via Zapier or direct API access.

    ## Authentication
    All requests require an API key passed as a Bearer token:
    ```
    Authorization: Bearer wk_live_...
    ```
    Generate an API key from the Walkies iOS app: **Settings > Integrations > Generate New API Key**.

    ## Rate Limits
    Requests are rate limited per API key (and per IP). Exceeding the limit returns `429` with a `Retry-After` header (seconds) — back off and retry.

    ## Pagination
    List endpoints accept `?limit=` (default 50, max 100). When more results may exist, the response includes an `X-Next-Cursor` header; pass its value back as `?cursor=` to fetch the next page. (Filtered list queries return a single capped page.)

    ## Idempotency
    Send an `Idempotency-Key` header on POST creates to retry safely: the first successful response is stored and replayed for any retry using the same key (scoped per company, ~48h).

    ## Errors
    Errors return a JSON body of the form `{ "error": "message" }`. Common status codes: `400` validation error, `401` missing/invalid API key, `403` Max subscription required, `404` not found, `429` rate limited, `500` server error.

    ## Subscription
    The API requires a **Max subscription**. Requests from accounts without an active Max subscription receive a `403` response.
  version: 1.2.0
  contact:
    name: Walkies Support
    url: https://walkies.app
servers:
  - url: https://api.personalwalkies.com
    description: Production

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key generated from the Walkies iOS app

  schemas:
    ReportPeriod:
      type: object
      description: The resolved date range a report was computed over.
      properties:
        type:
          type: string
          enum: [thisWeek, thisMonth, thisQuarter, thisYear, custom]
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
          description: Inclusive end of the period (…23:59:59.999 in the timezone).
        timezone:
          type: string
          example: Europe/London
    Customer:
      type: object
      properties:
        id:
          type: string
          example: cust123
        firstName:
          type: string
          example: Jane
        lastName:
          type: string
          example: Smith
        email:
          type: string
          example: jane@example.com
        phoneNumber:
          type: string
          example: "+447700900000"
        picture:
          type: string
          nullable: true
          example: https://firebasestorage.googleapis.com/...
        address:
          type: string
        notes:
          type: string
        accessInformation:
          type: string
        emergencyContactName:
          type: string
        emergencyPhoneNumber:
          type: string
        secondaryFirstName:
          type: string
          nullable: true
        secondaryLastName:
          type: string
          nullable: true
        secondaryEmail:
          type: string
          nullable: true
        secondaryPhoneNumber:
          type: string
          nullable: true
        linked:
          type: boolean
        secondaryLinked:
          type: boolean
        preferredPaymentMethod:
          type: string
          nullable: true
          enum: [Payment link, Bank transfer, PayPal, Venmo, Cash, Cheque, Zelle, Cash App, Other, None]
        status:
          type: string
          enum: [active, archived]
        createdDate:
          type: string
          format: date-time

    Pet:
      type: object
      properties:
        id:
          type: string
        customerID:
          type: string
        name:
          type: string
          example: Max
        type:
          type: string
          enum: [dog, cat, pig, bird, fish, small pet, reptile, horse, other]
        breed:
          type: string
          example: Labrador
        gender:
          type: string
          enum: [Male, Female]
        weight:
          type: string
          nullable: true
        neutered:
          type: boolean
        microchipped:
          type: boolean
        medicalInformation:
          type: string
        foodInstructions:
          type: string
        status:
          type: string
          enum: [active, archived, passedAway]

    Service:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [walk, dropin, taxi, daycare, boarding, overnight, homeSitting, training, grooming, meetAndGreet, other, external, busy, holiday, birthday]
        title:
          type: string
          example: 1 Hour Walk
        description:
          type: string
        amount:
          type: number
          description: Amount in pence/cents (e.g. 2500 = GBP 25.00)
          example: 2500
        additionalPetAmount:
          type: number
          nullable: true
          description: Extra charge per additional pet (pence/cents)
        currency:
          type: string
          example: GBP
        country:
          type: string
          example: GB
        duration:
          type: integer
          nullable: true
          description: Duration in minutes
        quantity:
          type: integer
          default: 1
        cadence:
          type: string
          enum: [perService, perDay, perNight]
          default: perService
        hidden:
          type: boolean
          default: false
        position:
          type: integer
          default: 0

    Appointment:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [walk, checkIn, taxi, daycare, boarding, homeSitting, overnight, training, grooming, meetAndGreet, other, external, busy, holiday, birthday]
        status:
          type: string
          enum: [confirmed, requested, declined]
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        timezone:
          type: string
          example: Europe/London
        allDay:
          type: boolean
        pets:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              customerID:
                type: string
              type:
                type: string
              breed:
                type: string
              gender:
                type: string
        teamMembers:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              role:
                type: string
        service:
          type: object
          nullable: true
          description: Primary service
          properties:
            id:
              type: string
            title:
              type: string
            amount:
              type: number
            type:
              type: string
            cadence:
              type: string
        additionalServices:
          type: array
          items:
            type: object
        notes:
          type: string
        customerIDs:
          type: array
          items:
            type: string

    Invoice:
      type: object
      properties:
        id:
          type: string
        customerID:
          type: string
        customerFirstName:
          type: string
        customerLastName:
          type: string
        amount:
          type: number
          description: Amount in pence/cents
        currency:
          type: string
        country:
          type: string
        reference:
          type: string
        services:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              title:
                type: string
              amount:
                type: number
              quantity:
                type: integer
              cadence:
                type: string
              currency:
                type: string
              country:
                type: string
        pets:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              customerID:
                type: string
        payments:
          type: array
          items:
            type: object
        notes:
          type: string
        paid:
          type: boolean
        paymentMethod:
          type: string
          enum: [Payment link, Bank transfer, PayPal, Venmo, Cash, Cheque, Zelle, Cash App, Other, None]
        datePaid:
          type: string
          format: date-time
          nullable: true
        dueDate:
          type: string
          format: date-time
          nullable: true
        travelAmount:
          type: number
          nullable: true
        discountAmount:
          type: number
          nullable: true
        tipAmount:
          type: number
          nullable: true
        serviceTaxPercentage:
          type: number
          nullable: true
        serviceTaxAmount:
          type: number
          nullable: true
        createdDate:
          type: string
          format: date-time

    Expense:
      type: object
      properties:
        id:
          type: string
        amount:
          type: integer
          description: Amount in minor units (pence/cents) — e.g. 1000 = £10.00.
        category:
          type: string
          enum: [fuel, mileage, petSupplies, insurance, vehicleMaintenance, marketing, officeSupplies, vetSupplies, software, equipment, training, other]
        date:
          type: string
          format: date-time
        notes:
          type: string
          nullable: true
        vendor:
          type: string
          nullable: true
        teamMemberIDs:
          type: array
          items:
            type: string
        teamMemberNames:
          type: array
          items:
            type: string
        mileageDistance:
          type: number
          nullable: true
          description: Required for mileage category
        mileageRate:
          type: number
          nullable: true
          description: Required for mileage category
        reimbursed:
          type: boolean
        createdDate:
          type: string
          format: date-time

    Announcement:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        message:
          type: string
        picture:
          type: string
          nullable: true
        createdDate:
          type: string
          format: date-time

    Webhook:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
            enum:
              - appointment.created
              - appointment.updated
              - appointment.cancelled
              - customer.created
              - customer.updated
              - invoice.created
              - invoice.paid
              - walk.started
              - walk.finished
              - taxi.started
              - taxi.finished
              - petsitting.started
              - petsitting.finished
              - petsitting.readyForPickup
              - activity.feedUpdated
              - message.received
              - contract.signed
              - announcement.created
              - announcement.updated
              - team_member.added
              - team_member.removed
        secret:
          type: string
          description: HMAC-SHA256 secret for verifying webhook payloads
        createdDate:
          type: string
          format: date-time

    WebhookPayload:
      type: object
      properties:
        event:
          type: string
          example: appointment.created
        timestamp:
          type: string
          format: date-time
        data:
          type: object
          description: Event-specific payload

    CompanyInfo:
      type: object
      properties:
        companyName:
          type: string
          example: Walkies
        companyLogo:
          type: string
          nullable: true
        country:
          type: string
          example: GB
        currency:
          type: string
          example: GBP

    Error:
      type: object
      properties:
        error:
          type: string

    ActivityTeamMember:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        role:
          type: string
          example: Team Member
        picture:
          type: string
          nullable: true
    ActivityPet:
      type: object
      description: Embedded pet snapshot with per-activity tallies.
      properties:
        id:
          type: string
        name:
          type: string
        breed:
          type: string
        type:
          type: string
          example: dog
        picture:
          type: string
          nullable: true
        customerID:
          type: string
        wees:
          type: integer
        poos:
          type: integer
        food:
          type: integer
        water:
          type: integer
        treat:
          type: integer
        medication:
          type: integer
        litterBox:
          type: integer
    ActivityWeather:
      type: object
      nullable: true
      properties:
        temperature:
          type: number
          nullable: true
        condition:
          type: string
          example: cloudy
    ActivityService:
      type: object
      nullable: true
      properties:
        id:
          type: string
        title:
          type: string
        amount:
          type: number
        type:
          type: string
        cadence:
          type: string
    ChecklistItem:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        completed:
          type: boolean
    ActivityVideo:
      type: object
      properties:
        thumbnail:
          type: string
          nullable: true
        url:
          type: string
          nullable: true
    UpdatesSummary:
      type: object
      description: Timeline rollup. Raw GPS coordinates are never exposed.
      properties:
        count:
          type: integer
        photos:
          type: integer
        videos:
          type: integer
    Activity:
      type: object
      description: A recorded walk, taxi journey, or check-in (shared WalkiesActivity model). Raw GPS and device identifiers are excluded.
      properties:
        id:
          type: string
        type:
          type: string
          example: walk
        companyID:
          type: string
          nullable: true
        active:
          type: boolean
        startTime:
          type: string
          format: date-time
          nullable: true
        endTime:
          type: string
          format: date-time
          nullable: true
        duration:
          type: integer
          description: Duration in seconds.
        distance:
          type: number
          description: Distance in metres.
        notes:
          type: string
        companyName:
          type: string
          nullable: true
        companyLogo:
          type: string
          nullable: true
        streetAddress:
          type: string
        city:
          type: string
        postcode:
          type: string
        weather:
          $ref: '#/components/schemas/ActivityWeather'
        service:
          $ref: '#/components/schemas/ActivityService'
        dogs:
          type: array
          items:
            $ref: '#/components/schemas/ActivityPet'
        teamMembers:
          type: array
          items:
            $ref: '#/components/schemas/ActivityTeamMember'
        petSittingIDs:
          type: array
          items:
            type: string
        additionalChecklistItems:
          type: array
          items:
            $ref: '#/components/schemas/ChecklistItem'
        walkImages:
          type: array
          items:
            type: string
        walkVideos:
          type: array
          items:
            $ref: '#/components/schemas/ActivityVideo'
        updates:
          $ref: '#/components/schemas/UpdatesSummary'
    PetSitting:
      type: object
      description: A boarding, daycare, overnight, or other pet sitting record. Raw GPS and device identifiers are excluded.
      properties:
        id:
          type: string
        type:
          type: string
          example: boarding
        companyID:
          type: string
          nullable: true
        active:
          type: boolean
        startTime:
          type: string
          format: date-time
          nullable: true
        endTime:
          type: string
          format: date-time
          nullable: true
        notes:
          type: string
        companyName:
          type: string
          nullable: true
        companyLogo:
          type: string
          nullable: true
        weather:
          $ref: '#/components/schemas/ActivityWeather'
        service:
          $ref: '#/components/schemas/ActivityService'
        pets:
          type: array
          items:
            $ref: '#/components/schemas/ActivityPet'
        teamMembers:
          type: array
          items:
            $ref: '#/components/schemas/ActivityTeamMember'
        additionalChecklistItems:
          type: array
          items:
            $ref: '#/components/schemas/ChecklistItem'
        updates:
          $ref: '#/components/schemas/UpdatesSummary'
    TeamMember:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: Alex Walker
        role:
          type: string
          enum: [Admin, Sub Admin, Team Member]
        active:
          type: boolean
        email:
          type: string
          nullable: true
        picture:
          type: string
          nullable: true
        color:
          type: string
          nullable: true
          description: Hex colour used for the team member in the calendar (e.g. "#4287f5")
          example: "#4287f5"
        activityRate:
          type: number
          nullable: true
          description: Pay rate per activity (pence/cents)
        hourlyRate:
          type: number
          nullable: true
          description: Pay rate per hour (pence/cents)
        mileRate:
          type: number
          nullable: true
          description: Pay rate per mile (pence/cents)
        serviceRates:
          type: object
          nullable: true
          additionalProperties:
            type: number
          description: Per-service pay rates keyed by service ID (pence/cents)
    Contract:
      type: object
      properties:
        id:
          type: string
        companyID:
          type: string
          nullable: true
        title:
          type: string
          example: Pet Sitting Agreement
        content:
          type: string
          description: Contract body. Newlines are preserved (stored internally with <br>).
        template:
          type: boolean
        templateID:
          type: string
          nullable: true
        customerID:
          type: string
          nullable: true
        primaryCustomerName:
          type: string
          nullable: true
        secondaryCustomerName:
          type: string
          nullable: true
        signed:
          type: boolean
        signedDate:
          type: string
          format: date-time
          nullable: true
        signedBy:
          type: string
          nullable: true
        sendToClients:
          type: boolean
        createdDate:
          type: string
          format: date-time
    Checklist:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
          example: New Client Onboarding
        type:
          type: string
          enum: [customer, pet]
        items:
          type: array
          items:
            $ref: '#/components/schemas/ChecklistItem'
        pets:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              customerID:
                type: string
        customers:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              firstName:
                type: string
              lastName:
                type: string
    Address:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: Home
        lineOne:
          type: string
        lineTwo:
          type: string
        city:
          type: string
        postcode:
          type: string
        state:
          type: string
        country:
          type: string
        lat:
          type: number
        long:
          type: number
    CustomUpdate:
      type: object
      description: A reusable custom timeline update (CustomTimelineUpdate).
      properties:
        id:
          type: string
        message:
          type: string
        type:
          type: string
          enum: [pet, general]
        serviceTypes:
          type: array
          items:
            type: string
        customers:
          type: array
          items:
            type: object
        pets:
          type: array
          items:
            type: object
    TravelLog:
      type: object
      description: A recorded travel/mileage log. Read-only. Raw GPS coordinates are excluded.
      properties:
        id:
          type: string
        companyID:
          type: string
          nullable: true
        distance:
          type: number
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
          nullable: true
        active:
          type: boolean
        pets:
          type: array
          items:
            type: object
        teamMembers:
          type: array
          items:
            type: object
        loggingTeamMember:
          type: object
          nullable: true
        appointmentID:
          type: string
          nullable: true
        startOdometerReading:
          type: number
          nullable: true
        endOdometerReading:
          type: number
          nullable: true
    SpecialHours:
      type: object
      description: >-
        A date-specific exception to the normal weekly opening hours — a day off,
        holiday, or one-off different hours. closed=true means not working that whole
        day (times is empty). The date is in the company timezone.
      properties:
        id:
          type: string
        date:
          type: string
          format: date
          description: The calendar date this applies to (YYYY-MM-DD, in the company timezone)
        closed:
          type: boolean
          description: true = closed / not working all day; false = open with the time blocks below
        times:
          type: array
          description: Open time blocks for the day (empty when closed)
          items:
            type: object
            properties:
              start:
                type: string
                description: Block start, 24-hour HH:mm (e.g. 09:00)
              end:
                type: string
                description: Block end, 24-hour HH:mm (e.g. 17:00)
    Company:
      type: object
      description: Merged public company profile plus read-only counters. Region fields (country/currency/timezone) are read-only and cannot be set via PATCH.
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        location:
          type: string
        logo:
          type: string
          nullable: true
        cover:
          type: string
          nullable: true
        profile:
          type: string
          nullable: true
        color:
          type: string
          nullable: true
        address:
          type: object
          nullable: true
        country:
          type: string
          readOnly: true
        currency:
          type: string
          readOnly: true
        timezone:
          type: string
          readOnly: true
        preferredPaymentMethod:
          type: string
          nullable: true
        preferredInvoiceType:
          type: string
          nullable: true
        customerPaysFee:
          type: boolean
        serviceTax:
          type: number
          nullable: true
        invoicesEnabled:
          type: boolean
        subscriptionStatus:
          type: string
          nullable: true
          readOnly: true
        teamMemberCount:
          type: integer
          readOnly: true
        walkCount:
          type: integer
          readOnly: true
        taxiCount:
          type: integer
          readOnly: true
        petSittingCount:
          type: integer
          readOnly: true
        checkInCount:
          type: integer
          readOnly: true
    Conversation:
      type: object
      properties:
        id:
          type: string
        customerID:
          type: string
        customerFirstName:
          type: string
        customerLastName:
          type: string
        unreadCompanyMessageCount:
          type: integer
        unreadCustomerMessageCount:
          type: integer
        lastMessage:
          type: object
          nullable: true
    Message:
      type: object
      properties:
        id:
          type: string
        message:
          type: string
        senderID:
          type: string
        customerID:
          type: string
        companyRead:
          type: boolean
        customerRead:
          type: boolean
        sentDate:
          type: string
          format: date-time
          nullable: true

paths:
  /me:
    get:
      summary: Test Authentication
      description: Returns company information for the authenticated API key. Use this to verify your key is valid.
      tags: [Authentication]
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyInfo'
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Max subscription required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /customers:
    get:
      summary: List Customers
      description: Returns all customers. Optionally filter by email or name.
      tags: [Customers]
      parameters:
        - name: email
          in: query
          schema:
            type: string
          description: Filter by exact email match
        - name: name
          in: query
          schema:
            type: string
          description: Filter by name (partial match on first + last name)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer'
    post:
      summary: Create Customer
      tags: [Customers]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [firstName, lastName]
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                email:
                  type: string
                phoneNumber:
                  type: string
                address:
                  type: string
                notes:
                  type: string
                accessInformation:
                  type: string
                emergencyContactName:
                  type: string
                emergencyPhoneNumber:
                  type: string
                preferredPaymentMethod:
                  type: string
                  enum: [Payment link, Bank transfer, PayPal, Venmo, Cash, Cheque, Zelle, Cash App, Other, None]
                secondaryFirstName:
                  type: string
                secondaryLastName:
                  type: string
                secondaryEmail:
                  type: string
                secondaryPhoneNumber:
                  type: string
                imageUrl:
                  type: string
                  description: URL of a profile picture (max 5MB)
                imageBase64:
                  type: string
                  description: Base64-encoded profile picture (max 5MB)
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'

  /customers/{id}:
    delete:
      summary: Delete Customer
      description: Soft-deletes (archives) by default, reversible via POST /customers/{id}/restore. Pass ?hard=true with header X-Confirm-Delete:true to permanently delete and cascade conversations, messages and pets.
      tags: [Customers]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: hard
          in: query
          schema:
            type: boolean
        - name: X-Confirm-Delete
          in: header
          schema:
            type: string
            enum: ['true']
      responses:
        '200':
          description: Archived (soft) or permanently deleted (hard)
        '400':
          description: Hard delete attempted without the X-Confirm-Delete header
        '404':
          description: Customer not found
    get:
      summary: Get Customer
      tags: [Customers]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '404':
          description: Customer not found
    patch:
      summary: Update Customer
      tags: [Customers]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                email:
                  type: string
                phoneNumber:
                  type: string
                address:
                  type: string
                notes:
                  type: string
                imageUrl:
                  type: string
                  description: URL of a profile picture (max 5MB)
                imageBase64:
                  type: string
                  description: Base64-encoded profile picture (max 5MB)
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'

  /pets:
    post:
      summary: Create Pet
      tags: [Pets]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, customerID, type, gender]
              properties:
                name:
                  type: string
                customerID:
                  type: string
                type:
                  type: string
                  enum: [dog, cat, pig, bird, fish, small pet, reptile, horse, other]
                gender:
                  type: string
                  enum: [Male, Female]
                breed:
                  type: string
                weight:
                  type: string
                neutered:
                  type: boolean
                microchipped:
                  type: boolean
                medicalInformation:
                  type: string
                foodInformation:
                  type: string
                vetPhoneNumber:
                  type: string
                dobDay:
                  type: integer
                dobMonth:
                  type: integer
                dobYear:
                  type: integer
                imageUrl:
                  type: string
                imageBase64:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pet'
        '400':
          description: Validation error or customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List Pets
      description: Returns pets. Optionally filter by customer or name.
      tags: [Pets]
      parameters:
        - name: customerID
          in: query
          schema:
            type: string
        - name: name
          in: query
          schema:
            type: string
          description: Filter by pet name (partial match)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pet'

  /services:
    get:
      summary: List Services
      description: Returns all configured services for your company.
      tags: [Services]
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Service'
    post:
      summary: Create Service
      tags: [Services]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, type, amount]
              properties:
                title:
                  type: string
                  example: 1 Hour Walk
                type:
                  type: string
                  enum: [walk, dropin, taxi, daycare, boarding, overnight, homeSitting, training, grooming, meetAndGreet, other]
                amount:
                  type: integer
                  description: >-
                    Price in MINOR UNITS (pence/cents), NOT major units. Multiply the user's amount
                    by 100 — e.g. £25.00 = 2500, £10 = 1000.
                  example: 2500
                cadence:
                  type: string
                  enum: [perService, perDay, perNight]
                  default: perService
                description:
                  type: string
                duration:
                  type: integer
                  description: Duration in minutes
                additionalPetAmount:
                  type: integer
                  description: Extra charge per additional pet, in MINOR UNITS (pence/cents) — × 100, e.g. £5 = 500.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'

  /services/{id}:
    patch:
      summary: Update Service
      tags: [Services]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                type:
                  type: string
                amount:
                  type: number
                  description: Amount in pence/cents
                cadence:
                  type: string
                  enum: [perService, perDay, perNight]
                description:
                  type: string
                duration:
                  type: integer
                hidden:
                  type: boolean
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        '404':
          description: Service not found
    delete:
      summary: Delete Service
      description: Soft-deletes the service (sets hidden=true) so existing invoice/appointment references are preserved.
      tags: [Services]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted (hidden)
        '404':
          description: Service not found
    get:
      summary: Get Service
      tags: [Services]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        '404':
          description: Service not found

  /appointments:
    get:
      summary: List Appointments
      tags: [Appointments]
      parameters:
        - name: customerID
          in: query
          schema:
            type: string
        - name: date
          in: query
          schema:
            type: string
            format: date
          description: Filter by date (YYYY-MM-DD)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Appointment'
    post:
      summary: Create Appointment
      tags: [Appointments]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [startDate]
              properties:
                startDate:
                  type: string
                  format: date-time
                endDate:
                  type: string
                  format: date-time
                  description: When omitted, defaults to startDate plus the primary service's duration (minutes); falls back to startDate if the service has no duration.
                timezone:
                  type: string
                  default: UTC
                status:
                  type: string
                  enum: [confirmed, requested]
                  default: confirmed
                serviceID:
                  type: string
                  description: ID of a service from GET /services. The appointment's `type` is derived from this service (a "dropin" service becomes a "checkIn" appointment); a service-less appointment is "other". `type` cannot be set directly.
                petIDs:
                  type: array
                  items:
                    type: string
                  description: Pet IDs to include
                teamMemberIDs:
                  type: array
                  items:
                    type: string
                  description: Team member IDs to assign
                customerIDs:
                  type: array
                  items:
                    type: string
                  description: Customer IDs (auto-derived from pets if not provided)
                createdByTeamMemberID:
                  type: string
                  description: >-
                    Optional. The team member to record as the creator of this appointment, validated
                    against your team (an unknown id returns 400). When set, it is stored on the
                    appointment as the creator. When omitted, the appointment is created with no
                    creator attribution (the field is left unset).
                confirmOverlap:
                  type: boolean
                  description: >-
                    If the new appointment overlaps an existing one (same team member or pet), the
                    API returns 200 with `{ requiresConfirmation: true, warning }` and does NOT book.
                    Re-send the request with confirmOverlap=true to book anyway. (External API keys
                    instead book immediately and get a `warning` on the created appointment.)
                invoiceType:
                  type: string
                  enum: [none, single, whenStarted]
                  default: none
                allDay:
                  type: boolean
                  default: false
                notes:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'

  /invoices:
    get:
      summary: List Invoices
      tags: [Invoices]
      parameters:
        - name: customerID
          in: query
          schema:
            type: string
        - name: paid
          in: query
          schema:
            type: string
            enum: ['true', 'false']
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice'
    post:
      summary: Create Invoice
      description: |
        Creates an invoice for a customer. Services must reference existing services from your account (use GET /services to list them).
        The amount is auto-calculated from selected services unless overridden.
        Customer pets are automatically included.
      tags: [Invoices]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [customerID]
              properties:
                customerID:
                  type: string
                serviceIDs:
                  type: array
                  items:
                    type: string
                  description: IDs of services from GET /services
                amount:
                  type: number
                  description: Override auto-calculated amount (pence/cents)
                paymentMethod:
                  type: string
                  enum: [Payment link, Bank transfer, PayPal, Venmo, Cash, Cheque, Zelle, Cash App, Other, None]
                  description: Defaults to your company's preferred payment method (Settings) when omitted.
                notes:
                  type: string
                dueDate:
                  type: string
                  format: date-time
                  description: Defaults to your company's invoice terms (creation date + due-date offset days, default 7) when omitted.
                travelAmount:
                  type: number
                  description: Travel charge (pence/cents)
                discountAmount:
                  type: number
                  description: Discount (pence/cents)
                serviceTaxPercentage:
                  type: number
                serviceTaxAmount:
                  type: number
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'

  /expenses:
    get:
      summary: List Expenses
      tags: [Expenses]
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [fuel, mileage, petSupplies, insurance, vehicleMaintenance, marketing, officeSupplies, vetSupplies, software, equipment, training, other]
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Expense'
    post:
      summary: Create Expense
      tags: [Expenses]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, category, date]
              properties:
                amount:
                  type: integer
                  description: >-
                    Amount in MINOR UNITS (pence/cents), NOT major units. Multiply the user's amount
                    by 100 — e.g. £10.00 = 1000, £12.50 = 1250, $5 = 500.
                  example: 1000
                category:
                  type: string
                  enum: [fuel, mileage, petSupplies, insurance, vehicleMaintenance, marketing, officeSupplies, vetSupplies, software, equipment, training, other]
                date:
                  type: string
                  format: date-time
                vendor:
                  type: string
                notes:
                  type: string
                mileageDistance:
                  type: number
                  description: Required for mileage category
                mileageRate:
                  type: number
                  description: Required for mileage category
                teamMemberIDs:
                  type: array
                  items:
                    type: string
                teamMemberNames:
                  type: array
                  items:
                    type: string
                createdByTeamMemberID:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Expense'

  /announcements:
    get:
      summary: List Announcements
      tags: [Announcements]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Announcement'
    post:
      summary: Create Announcement
      description: Creates an announcement that is sent to all customers.
      tags: [Announcements]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title:
                  type: string
                message:
                  type: string
                imageUrl:
                  type: string
                  description: URL of an image to attach (max 5MB)
                imageBase64:
                  type: string
                  description: Base64-encoded image (max 5MB)
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Announcement'

  /messages:
    post:
      summary: Send Message
      description: Sends a message to a customer. The customer must have connected their journal (linked or secondaryLinked must be true).
      tags: [Messages]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [customerID, message]
              properties:
                customerID:
                  type: string
                message:
                  type: string
      responses:
        '201':
          description: Sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  conversationID:
                    type: string
                  message:
                    type: string
                  sentDate:
                    type: string
                    format: date-time
        '400':
          description: Customer not linked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /walks:
    get:
      summary: List Walks
      tags: [Walks]
      parameters:
        - name: active
          in: query
          schema:
            type: string
            enum: ['true', 'false']
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Activity'
  /walks/{id}:
    get:
      summary: Get Walk
      tags: [Walks]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        '404':
          description: Walk not found
  /taxis:
    get:
      summary: List Taxis
      tags: [Taxis]
      parameters:
        - name: active
          in: query
          schema:
            type: string
            enum: ['true', 'false']
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Activity'
  /taxis/{id}:
    get:
      summary: Get Taxi
      tags: [Taxis]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        '404':
          description: Taxi not found
  /checkins:
    get:
      summary: List Check-Ins
      tags: [Check-Ins]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Activity'
  /checkins/{id}:
    get:
      summary: Get Check-In
      tags: [Check-Ins]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        '404':
          description: Check-in not found
  /petsittings:
    get:
      summary: List Pet Sittings
      tags: [Pet Sittings]
      parameters:
        - name: active
          in: query
          schema:
            type: string
            enum: ['true', 'false']
        - name: type
          in: query
          schema:
            type: string
            enum: [daycare, boarding, overnight, homeSitting, dropIn, training, grooming, meetAndGreet]
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PetSitting'
  /petsittings/{id}:
    get:
      summary: Get Pet Sitting
      tags: [Pet Sittings]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PetSitting'
        '404':
          description: Pet sitting not found
  /team:
    get:
      summary: List Team Members
      description: Returns all team members for your company.
      tags: [Team]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamMember'
    post:
      summary: Create Team Member
      tags: [Team]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, role]
              properties:
                name:
                  type: string
                role:
                  type: string
                  enum: [Admin, Sub Admin, Team Member]
                active:
                  type: boolean
                email:
                  type: string
                picture:
                  type: string
                color:
                  type: string
                  description: Hex colour like "#rrggbb"
                  example: "#4287f5"
                activityRate:
                  type: integer
                  description: Per-activity pay rate in MINOR UNITS (pence/cents) — × 100, e.g. £8 = 800.
                hourlyRate:
                  type: integer
                  description: Hourly pay rate in MINOR UNITS (pence/cents) — × 100, e.g. £12.50 = 1250.
                mileRate:
                  type: integer
                  description: Pay per mile in MINOR UNITS (pence/cents) — × 100, e.g. £0.45 = 45.
                serviceRates:
                  type: object
                  description: Per-service pay rates, keyed by service id; each value in MINOR UNITS (pence/cents).
                  additionalProperties:
                    type: integer
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMember'
  /team/{id}:
    get:
      summary: Get Team Member
      tags: [Team]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMember'
        '404':
          description: Team member not found
    patch:
      summary: Update Team Member
      tags: [Team]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                role:
                  type: string
                  enum: [Admin, Sub Admin, Team Member]
                active:
                  type: boolean
                email:
                  type: string
                picture:
                  type: string
                color:
                  type: string
                  description: Hex colour like "#rrggbb"
                activityRate:
                  type: integer
                  description: Per-activity pay rate in MINOR UNITS (pence/cents) — × 100, e.g. £8 = 800.
                hourlyRate:
                  type: integer
                  description: Hourly pay rate in MINOR UNITS (pence/cents) — × 100, e.g. £12.50 = 1250.
                mileRate:
                  type: integer
                  description: Pay per mile in MINOR UNITS (pence/cents) — × 100, e.g. £0.45 = 45.
                serviceRates:
                  type: object
                  description: Per-service pay rates, keyed by service id; each value in MINOR UNITS (pence/cents).
                  additionalProperties:
                    type: integer
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMember'
        '404':
          description: Team member not found
    delete:
      summary: Delete Team Member
      tags: [Team]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
        '404':
          description: Team member not found
  /contracts:
    get:
      summary: List Contracts
      description: Returns all contracts and contract templates for your company.
      tags: [Contracts]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Contract'
    post:
      summary: Create Contract
      tags: [Contracts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, content, template]
              properties:
                title:
                  type: string
                content:
                  type: string
                template:
                  type: boolean
                templateID:
                  type: string
                customerID:
                  type: string
                primaryCustomerName:
                  type: string
                secondaryCustomerName:
                  type: string
                sendToClients:
                  type: boolean
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
  /contracts/{id}:
    get:
      summary: Get Contract
      tags: [Contracts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '404':
          description: Contract not found
    patch:
      summary: Update Contract
      tags: [Contracts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                content:
                  type: string
                template:
                  type: boolean
                signed:
                  type: boolean
                signedBy:
                  type: string
                sendToClients:
                  type: boolean
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '404':
          description: Contract not found
    delete:
      summary: Delete Contract
      tags: [Contracts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
        '404':
          description: Contract not found
  /checklists:
    get:
      summary: List Checklists
      tags: [Checklists]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Checklist'
    post:
      summary: Create Checklist
      tags: [Checklists]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, type]
              properties:
                title:
                  type: string
                type:
                  type: string
                  enum: [customer, pet]
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/ChecklistItem'
                petIDs:
                  type: array
                  items:
                    type: string
                customerIDs:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checklist'
  /checklists/{id}:
    get:
      summary: Get Checklist
      tags: [Checklists]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checklist'
        '404':
          description: Checklist not found
    patch:
      summary: Update Checklist
      tags: [Checklists]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                type:
                  type: string
                  enum: [customer, pet]
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/ChecklistItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checklist'
        '404':
          description: Checklist not found
    delete:
      summary: Delete Checklist
      tags: [Checklists]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
        '404':
          description: Checklist not found
  /company:
    get:
      summary: Get Company Profile
      tags: [Company]
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
    patch:
      summary: Update Company Profile
      description: Updates your company profile. Region fields (country, currency, timezone) are read-only and silently ignored.
      tags: [Company]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                location:
                  type: string
                logo:
                  type: string
                color:
                  type: string
                preferredPaymentMethod:
                  type: string
                customerPaysFee:
                  type: boolean
                serviceTax:
                  type: number
                invoicesEnabled:
                  type: boolean
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '400':
          description: No updatable fields or validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /conversations:
    get:
      summary: List Conversations
      tags: [Messages]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conversation'
  /conversations/{id}/messages:
    get:
      summary: List Messages
      tags: [Messages]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Message'
        '404':
          description: Conversation not found
  /messages/broadcast:
    post:
      summary: Broadcast Message
      description: Sends one message to all linked customers, or a subset via customerIDs.
      tags: [Messages]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
                  maxLength: 5000
                customerIDs:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Broadcast sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  sentTo:
                    type: integer
        '400':
          description: No linked customers or validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /addresses:
    get:
      summary: List Addresses
      tags: [Addresses]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Address'
    post:
      summary: Create Address
      tags: [Addresses]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                lineOne:
                  type: string
                lineTwo:
                  type: string
                city:
                  type: string
                postcode:
                  type: string
                state:
                  type: string
                country:
                  type: string
                lat:
                  type: number
                long:
                  type: number
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
  /addresses/{id}:
    delete:
      summary: Delete Address
      tags: [Addresses]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
        '404':
          description: Address not found
  /custom-updates:
    get:
      summary: List Custom Updates
      tags: [Custom Updates]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomUpdate'
    post:
      summary: Create Custom Update
      tags: [Custom Updates]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message, type]
              properties:
                message:
                  type: string
                type:
                  type: string
                  enum: [pet, general]
                serviceTypes:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomUpdate'
  /custom-updates/{id}:
    delete:
      summary: Delete Custom Update
      tags: [Custom Updates]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
        '404':
          description: Custom update not found
  /travel-logs:
    get:
      summary: List Travel Logs
      tags: [Travel Logs]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TravelLog'
    post:
      summary: Create Travel Log
      description: >-
        Manual travel-log entry, mirroring the app's manual editor. Distance is in
        METERS (the canonical stored unit). GPS coordinates and odometer readings
        are app-only and cannot be set via the API. The created log is inactive
        (completed). When set, loggingTeamMemberID is validated against your team
        and recorded as the team member who logged the travel (used by report
        filters); when omitted, no logging team member is recorded.
      tags: [Travel Logs]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [startTime, endTime, distanceMeters]
              properties:
                startTime:
                  type: string
                  format: date-time
                endTime:
                  type: string
                  format: date-time
                  description: Must be on or after startTime
                distanceMeters:
                  type: number
                  description: Distance in meters; must be greater than 0
                teamMemberIDs:
                  type: array
                  items:
                    type: string
                  description: Team members on the trip (unknown ids are skipped)
                loggingTeamMemberID:
                  type: string
                  description: Optional. The team member who logged this travel — validated against your team (unknown id returns 400).
                appointmentID:
                  type: string
                  description: Optional appointment this travel relates to
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelLog'
        '400':
          description: Validation error
  /travel-logs/{id}:
    get:
      summary: Get Travel Log
      tags: [Travel Logs]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelLog'
        '404':
          description: Travel log not found
    patch:
      summary: Update Travel Log
      description: >-
        Edits a completed travel log (active/in-progress logs return 400).
        endTime must remain on or after startTime across partial updates.
      tags: [Travel Logs]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                startTime:
                  type: string
                  format: date-time
                endTime:
                  type: string
                  format: date-time
                distanceMeters:
                  type: number
                  description: Distance in meters; must be greater than 0
                teamMemberIDs:
                  type: array
                  items:
                    type: string
                  description: Replaces the embedded team-member list (unknown ids are skipped)
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelLog'
        '404':
          description: Travel log not found
    delete:
      summary: Delete Travel Log
      tags: [Travel Logs]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '404':
          description: Travel log not found
  /special-hours:
    get:
      summary: List Special Hours
      tags: [Special Hours]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpecialHours'
    post:
      summary: Create Special Hours
      description: >-
        Add a date-specific exception to the normal weekly hours. For a day off /
        holiday, send closed=true and omit times. For a day with different open hours,
        send closed=false with one or more { start, end } blocks in 24-hour HH:mm. The
        date is stored at midnight in the company timezone. To avoid duplicates, check
        the date isn't already set (GET /special-hours) before creating.
      tags: [Special Hours]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [date]
              properties:
                date:
                  type: string
                  format: date
                  description: Calendar date this applies to (YYYY-MM-DD)
                closed:
                  type: boolean
                  description: true = closed / not working all day (default false). When true, times is ignored.
                times:
                  type: array
                  description: Open time blocks (only when closed is false)
                  items:
                    type: object
                    required: [start, end]
                    properties:
                      start:
                        type: string
                        description: 24-hour HH:mm, e.g. 09:00
                      end:
                        type: string
                        description: 24-hour HH:mm, e.g. 17:00 (must be after start)
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpecialHours'
        '400':
          description: Validation error
  /special-hours/{id}:
    get:
      summary: Get Special Hours
      tags: [Special Hours]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpecialHours'
        '404':
          description: Special hours entry not found
    patch:
      summary: Update Special Hours
      description: >-
        Update a special-hours entry. Setting closed=true clears any time blocks;
        setting closed=false lets you supply new open blocks.
      tags: [Special Hours]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date
                closed:
                  type: boolean
                times:
                  type: array
                  items:
                    type: object
                    required: [start, end]
                    properties:
                      start:
                        type: string
                        description: 24-hour HH:mm
                      end:
                        type: string
                        description: 24-hour HH:mm
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpecialHours'
        '404':
          description: Special hours entry not found
    delete:
      summary: Delete Special Hours
      description: Removes the entry so the date reverts to the normal weekly hours.
      tags: [Special Hours]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '404':
          description: Special hours entry not found
  /webhooks/{id}/test:
    post:
      summary: Test a Webhook
      description: Sends a signed test payload to the webhook URL (re-validated against the SSRF guard) and reports the result.
      tags: [Webhooks]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Delivery attempted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  statusCode:
                    type: integer
                  url:
                    type: string
        '400':
          description: Webhook URL failed the safety check
        '404':
          description: Webhook not found
  /customers/{id}/restore:
    post:
      summary: Restore Customer
      description: Reverses a soft delete by setting the customer status back to active.
      tags: [Customers]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Restored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '404':
          description: Customer not found
  /pets/{id}:
    patch:
      summary: Update Pet
      tags: [Pets]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                breed:
                  type: string
                weight:
                  type: string
                neutered:
                  type: boolean
                microchipped:
                  type: boolean
                medicalInformation:
                  type: string
                foodInformation:
                  type: string
                vetPhoneNumber:
                  type: string
                status:
                  type: string
                  enum: [active, archived, passedAway]
                imageUrl:
                  type: string
                imageBase64:
                  type: string
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pet'
        '404':
          description: Pet not found
    delete:
      summary: Delete Pet
      description: Soft-archives by default (status=archived). Pass ?hard=true with header X-Confirm-Delete:true to permanently delete.
      tags: [Pets]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: hard
          in: query
          schema:
            type: string
            enum: ['true', 'false']
        - name: X-Confirm-Delete
          in: header
          schema:
            type: string
            enum: ['true']
      responses:
        '200':
          description: Archived or deleted
        '400':
          description: Hard delete requires confirmation header
        '404':
          description: Pet not found
  /appointments/{id}:
    patch:
      summary: Update Appointment
      description: >-
        Updates schedule/status fields, reassigns team members, and changes the service or add-ons.
        Changing the service to one with a different cadence (perService/perDay/perNight) affects how
        billing quantity is derived; when that happens the response includes a `warning` and the dates
        are left unchanged (pass startDate/endDate to adjust them).
      tags: [Appointments]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [confirmed, requested, declined]
                startDate:
                  type: string
                  format: date-time
                endDate:
                  type: string
                  format: date-time
                timezone:
                  type: string
                allDay:
                  type: boolean
                notes:
                  type: string
                serviceID:
                  type: string
                  description: >-
                    Optional. Changes the primary service (look up ids via GET /services). The appointment's
                    `type` updates automatically to match the new service. If the new
                    service has a different cadence (perService/perDay/perNight) the response includes a
                    `warning` and the dates are NOT auto-adjusted — review them and pass startDate/endDate
                    if the duration should change.
                additionalServiceIDs:
                  type: array
                  items:
                    type: string
                  description: >-
                    Optional. Sets the add-on services on this appointment (look up ids via GET /services).
                    Sending this REPLACES the current add-ons, so include every add-on that should remain.
                    Send an empty array to remove all add-ons.
                teamMemberIDs:
                  type: array
                  items:
                    type: string
                  description: >-
                    Optional. Reassigns the team members (sitters) on this appointment. Each id is
                    resolved against your team; unknown ids are skipped. Sending this REPLACES the
                    current assignee list, so include every team member who should be assigned (look
                    up ids via GET /team). Omit to leave the assignees unchanged.
                updatedByTeamMemberID:
                  type: string
                  description: >-
                    Optional. The team member to record as having made this update, validated against
                    your team (an unknown id returns 400). When set, it is stored on the appointment as
                    the last updater. When omitted, no updater is recorded for this change.
                confirmOverlap:
                  type: boolean
                  description: >-
                    When rescheduling to a time that overlaps another appointment (same team member or
                    pet), the API returns 200 with `{ requiresConfirmation: true, warning }` and does NOT
                    apply the change. Re-send with confirmOverlap=true to reschedule anyway. (External API
                    keys instead apply immediately and get a `warning`.)
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        '404':
          description: Appointment not found
    delete:
      summary: Delete Appointment
      tags: [Appointments]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
        '404':
          description: Appointment not found
  /invoices/{id}:
    patch:
      summary: Update Invoice
      tags: [Invoices]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
                paymentMethod:
                  type: string
                dueDate:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '404':
          description: Invoice not found
    delete:
      summary: Delete Invoice
      description: Deletes an unpaid invoice. Paid invoices cannot be deleted.
      tags: [Invoices]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
        '400':
          description: Cannot delete a paid invoice
        '404':
          description: Invoice not found
  /invoices/{id}/pay:
    post:
      summary: Mark Invoice Paid
      description: Marks the invoice paid, stamps datePaid, and appends a payment record.
      tags: [Invoices]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                paymentMethod:
                  type: string
      responses:
        '200':
          description: Invoice marked paid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '400':
          description: Invoice is already paid
        '404':
          description: Invoice not found
  /expenses/{id}:
    patch:
      summary: Update Expense
      tags: [Expenses]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  description: Expense amount in pence/cents
                category:
                  type: string
                date:
                  type: string
                  format: date-time
                notes:
                  type: string
                vendor:
                  type: string
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Expense'
        '404':
          description: Expense not found
    delete:
      summary: Delete Expense
      tags: [Expenses]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
        '404':
          description: Expense not found
  /expenses/{id}/reimburse:
    post:
      summary: Reimburse Expense
      description: Marks the expense reimbursed and stamps reimbursedDate.
      tags: [Expenses]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                teamMemberID:
                  type: string
      responses:
        '200':
          description: Expense marked reimbursed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Expense'
        '400':
          description: Expense is already reimbursed
        '404':
          description: Expense not found
  /announcements/{id}:
    get:
      summary: Get Announcement
      tags: [Announcements]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Announcement'
        '404':
          description: Announcement not found
    patch:
      summary: Update Announcement
      tags: [Announcements]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                message:
                  type: string
                imageUrl:
                  type: string
                imageBase64:
                  type: string
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Announcement'
        '404':
          description: Announcement not found
    delete:
      summary: Delete Announcement
      tags: [Announcements]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
        '404':
          description: Announcement not found
  /webhooks:
    get:
      summary: List Webhook Subscriptions
      tags: [Webhooks]
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'
    post:
      summary: Subscribe to Webhooks
      description: |
        Subscribe to receive webhook notifications when events occur.
        Webhook payloads are signed with HMAC-SHA256 using the returned secret.
        The signature is sent in the `X-Walkies-Signature` header.
      tags: [Webhooks]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url:
                  type: string
                  format: uri
                  description: URL to receive webhook POST requests
                events:
                  type: array
                  items:
                    type: string
                    enum:
                      - appointment.created
                      - appointment.updated
                      - appointment.cancelled
                      - customer.created
                      - customer.updated
                      - invoice.created
                      - invoice.paid
                      - walk.started
                      - walk.finished
                      - taxi.started
                      - taxi.finished
                      - petsitting.started
                      - petsitting.finished
                      - petsitting.readyForPickup
                      - activity.feedUpdated
                      - message.received
                      - contract.signed
                      - announcement.created
                      - announcement.updated
                      - team_member.added
                      - team_member.removed
      responses:
        '201':
          description: Subscribed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'

  /webhooks/{id}:
    delete:
      summary: Unsubscribe from Webhook
      tags: [Webhooks]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Unsubscribed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  # ── Reports ────────────────────────────────────────────────────────────────
  # Server-side replicas of the iOS business reports — the API returns the same
  # numbers the sitter sees in the app. Shared query params on every report:
  #   period (thisWeek|thisMonth|thisQuarter|thisYear|custom, default thisMonth),
  #   startDate & endDate (required when period=custom), timezone (IANA; defaults
  #   to the company timezone). ALL money fields are MINOR UNITS (pennies/cents).
  /reports/profit-loss:
    get:
      summary: Profit & Loss report
      description: >-
        Cash-basis P&L for the period. Income is payment-apportioned (each payment
        contributes pro-rata to its invoice's services/travel/tips/discounts/tax;
        fees are the literal per-payment fee when the customer pays fees; refunds
        are attributed by refund date). Expenses are grouped by category. Net
        profit = total income - total expenses. Amounts in minor units.
      tags: [Reports]
      parameters:
        - { name: period, in: query, description: 'thisWeek starts on the company country''s first day of week (GB Monday, US Sunday)', schema: { type: string, enum: [thisWeek, thisMonth, thisQuarter, thisYear, custom], default: thisMonth } }
        - { name: startDate, in: query, description: 'Required when period=custom. ISO 8601 or YYYY-MM-DD only (other formats rejected)', schema: { type: string } }
        - { name: endDate, in: query, description: 'Required when period=custom. ISO 8601 or YYYY-MM-DD; must be on or after startDate', schema: { type: string } }
        - { name: timezone, in: query, description: 'IANA tz (default: company timezone)', schema: { type: string } }
      responses:
        '200':
          description: Profit & loss report
          content:
            application/json:
              schema:
                type: object
                properties:
                  report: { type: string }
                  period: { $ref: '#/components/schemas/ReportPeriod' }
                  income:
                    type: object
[...]
