openapi: 3.0.3
info:
  title: Walkies API
  description: |
    ## Authentication
    All requests require an API key passed as a Bearer token:
    ```
    Authorization: Bearer wk_live_...
    ```
    Generate an API key from the Walkies web app: **Settings > Integrations > Generate key**. API keys are managed on the web only; the mobile apps don't generate them.

    ## Rate Limits
    Requests are rate limited per API key (and per IP). Exceeding the limit returns `429` with a `Retry-After` header (seconds) — back off and retry.

    ## Pagination
    List endpoints accept `?limit=` (default 50, max 100). When more results may exist, the response includes an `X-Next-Cursor` header; pass its value back as `?cursor=` to fetch the next page. (Filtered list queries return a single capped page.)

    ## Idempotency
    Send an `Idempotency-Key` header on POST creates to retry safely: the first successful response is stored and replayed for any retry using the same key (scoped per company, ~48h).

    ## Errors
    Errors return a JSON body of the form `{ "error": "message" }`. Common status codes: `400` validation error, `401` missing/invalid API key, `403` Walkies API subscription required, `404` not found, `429` rate limited, `500` server error.

    ## Subscription
    The API requires a **Walkies API subscription**. Requests from accounts without an active Walkies API subscription receive a `403` response.
  version: 1.2.0
  contact:
    name: Walkies Support
    url: https://walkies.app
servers:
  - url: https://api.personalwalkies.com
    description: Production

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key generated from the Walkies web app under Settings > Integrations.

  schemas:
    ReportPeriod:
      type: object
      description: The resolved date range a report was computed over.
      properties:
        type:
          type: string
          enum: [thisWeek, thisMonth, thisQuarter, thisYear, custom]
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
          description: Inclusive end of the period (…23:59:59.999 in the timezone).
        timezone:
          type: string
          example: Europe/London
          description: >-
            Frozen company scheduling timezone for this appointment. All
            appointment wall-clock dates, recurrence and pricing use this zone.
    Customer:
      type: object
      properties:
        id:
          type: string
          example: cust123
        firstName:
          type: string
          example: Jane
        lastName:
          type: string
          example: Smith
        email:
          type: string
          example: jane@example.com
        phoneNumber:
          type: string
          example: "+447700900000"
        picture:
          type: string
          nullable: true
          example: https://firebasestorage.googleapis.com/...
        address:
          type: string
        notes:
          type: string
        accessInformation:
          type: string
        emergencyContactName:
          type: string
        emergencyPhoneNumber:
          type: string
        secondaryFirstName:
          type: string
          nullable: true
        secondaryLastName:
          type: string
          nullable: true
        secondaryEmail:
          type: string
          nullable: true
        secondaryPhoneNumber:
          type: string
          nullable: true
        linked:
          type: boolean
        secondaryLinked:
          type: boolean
        preferredPaymentMethod:
          type: string
          nullable: true
          enum: [Payment link, Bank transfer, PayPal, Venmo, Cash, Cheque, Zelle, Cash App, Other, None]
        preferredInvoiceType:
          type: string
          nullable: true
          description: This client's default billing/invoice type (takes priority over the company default).
          enum: [single, whenStarted, prePaid, recurring, none]
        status:
          type: string
          enum: [active, archived]
        customQuestionAnswers:
          $ref: '#/components/schemas/CustomQuestionAnswers'
        createdDate:
          type: string
          format: date-time

    Pet:
      type: object
      properties:
        id:
          type: string
        customerID:
          type: string
        name:
          type: string
          example: Max
        type:
          type: string
          enum: [dog, cat, pig, bird, fish, small pet, reptile, horse, other]
        breed:
          type: string
          example: Labrador
        gender:
          type: string
          enum: [Male, Female]
        weight:
          type: string
          nullable: true
        neutered:
          type: boolean
        microchipped:
          type: boolean
        medicalInformation:
          type: string
        foodInstructions:
          type: string
        status:
          type: string
          enum: [active, archived, passedAway]
        customQuestionAnswers:
          $ref: '#/components/schemas/CustomQuestionAnswers'

    Service:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [walk, dropin, hike, run, taxi, daycare, boarding, overnight, homeSitting, training, grooming, meetAndGreet, other, external, busy, holiday, birthday]
        title:
          type: string
          example: 1 Hour Walk
        description:
          type: string
        amount:
          type: number
          description: Amount in pence/cents (e.g. 2500 = GBP 25.00)
          example: 2500
        additionalPetAmount:
          type: number
          nullable: true
          description: Extra charge per additional pet (pence/cents). Generic fallback for pet types with no additionalPetAmounts entry.
        additionalPetAmounts:
          type: object
          nullable: true
          additionalProperties:
            type: integer
          description: >-
            Per-species extra charge per additional pet, in pence/cents, keyed by pet type
            (dog, cat, pig, bird, fish, small pet, reptile, horse, other). A key present with
            value 0 makes that species free as an additional pet; a pet type with no key falls
            back to additionalPetAmount.
        currency:
          type: string
          example: GBP
        country:
          type: string
          example: GB
        duration:
          type: integer
          nullable: true
          description: Duration in minutes
        quantity:
          type: integer
          default: 0
          readOnly: true
          description: >
            Always 0 on a catalog service, and ignored if supplied on create or update.
            Quantity is a per-line value that only applies to a service embedded in an
            appointment or invoice.
        cadence:
          type: string
          enum: [perService, perDay, perNight]
          default: perService
        hidden:
          type: boolean
          default: false
        position:
          type: integer
          default: 0

    Surcharge:
      type: object
      description: >-
        A catalog surcharge: a named fixed amount or percentage automatically
        applied to bookings that match its window (date range, optional annual
        repeat, days of week, time of day) and scope (services, pet types,
        specific pets, specific clients). Applied surcharges are FROZEN
        snapshots on the appointment and invoice, so later edits or deletes
        here never change documents already issued.
      properties:
        id:
          type: string
          readOnly: true
        title:
          type: string
          maxLength: 100
          example: Christmas
          description: Rendered verbatim to the customer on invoices and receipts.
        valueType:
          type: string
          enum: [fixed, percentage]
        amount:
          type: number
          nullable: true
          minimum: 1
          description: Fixed amount in pence/cents. Set when valueType is fixed.
          example: 500
        percentage:
          type: number
          nullable: true
          minimum: 0
          exclusiveMinimum: true
          maximum: 100
          description: Percentage of the matched services' line totals (15 = 15%). Set when valueType is percentage.
        startDate:
          type: string
          format: date-time
          nullable: true
        endDate:
          type: string
          format: date-time
          nullable: true
        repeatsAnnually:
          type: boolean
          default: false
          description: >-
            When true the window's year is ignored (24 Dec to 2 Jan repeats
            every year, wrapping New Year). Both startDate and endDate are
            required for an annual window.
        daysOfWeek:
          type: array
          items:
            type: integer
            minimum: 0
            maximum: 6
          description: 0 = Sunday .. 6 = Saturday. Empty means any day.
        startMinuteOfDay:
          type: integer
          nullable: true
          minimum: 0
          maximum: 1439
          description: >-
            Company-local minute of day the window opens (540 = 09:00). Tested
            against the appointment's START time; all-day appointments never
            match a timed surcharge. End before start wraps midnight.
        endMinuteOfDay:
          type: integer
          nullable: true
          minimum: 0
          maximum: 1439
          description: >-
            Company-local minute of day the window closes. Both time bounds
            must be present or absent, and they cannot be equal.
        serviceIDs:
          type: array
          items:
            type: string
          description: Catalog service ids the surcharge applies to. Empty means all services.
        petTypes:
          type: array
          items:
            type: string
            enum: [dog, cat, pig, bird, fish, small pet, reptile, horse, other]
          description: Pet types the surcharge applies to. Empty means any pet.
        petIDs:
          type: array
          items:
            type: string
          description: Specific pet ids. Empty means any pet. Combined with petTypes as an intersection.
        customerIDs:
          type: array
          items:
            type: string
          description: >-
            Specific client ids. Empty means any client. Tested against each
            PET'S OWN owner, not the appointment's customer, so a booking
            shared by two households is surcharged only for the scoped
            client's pets. Combined with petTypes and petIDs as an
            intersection.
        hidden:
          type: boolean
          default: false
          description: Paused surcharges never apply automatically. A sitter may still choose one explicitly from the manual Add surcharge screen when its scope matches.
        position:
          type: integer
          default: 0
          minimum: 0
        currency:
          type: string
          example: GBP
          readOnly: true
        country:
          type: string
          example: GB
          readOnly: true
        timezone:
          type: string
          readOnly: true
          description: Authoritative IANA company timezone stamped by the server.
          example: Europe/London
        dateCreated:
          type: string
          format: date-time
          nullable: true
          readOnly: true

    AppliedSurcharge:
      type: object
      readOnly: true
      description: >-
        A surcharge snapshot frozen onto an invoice or appointment at
        resolution time. The title and rate never change after stamping, and
        the document's surchargeAmount is the arithmetic authority. API reads
        add a signed "Surcharge adjustment" compatibility row when legacy rows
        drift, so the visible entries always sum exactly to that scalar.
        Read-only through the API; client-supplied surcharge fields on writes
        are ignored.
      properties:
        surchargeID:
          type: string
          description: The catalog surcharge this entry resolved from.
        title:
          type: string
        valueType:
          type: string
          enum: [fixed, percentage]
        percentage:
          type: number
          nullable: true
        baseAmount:
          type: number
          nullable: true
          description: The matched line total (pence/cents) a percentage was taken on.
        units:
          type: integer
          description: Covered units charged (nights, matching pets, or their product). 1 for a plain in-window appointment.
        amount:
          type: number
          description: >-
            Resolved amount in pence/cents. Normally positive; a synthetic
            Surcharge adjustment row may be negative to reconcile legacy data
            to the authoritative surchargeAmount scalar.
        overridden:
          type: boolean
          description: A sitter hand-edited this amount; it is never recomputed.
        manual:
          type: boolean
          description: Added by hand from the catalog rather than auto-matched.
        customerAmounts:
          type: object
          additionalProperties:
            type: integer
          description: >-
            Optional frozen allocation by customer id. Fixed pet/client-scoped
            rules allocate by matching owner; percentages are priced separately
            from each household's pet-filtered service line. Legacy snapshots
            omit this map and are billed to the appointment's primary customer
            once.

    Appointment:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [walk, checkIn, hike, run, taxi, daycare, boarding, homeSitting, overnight, training, grooming, meetAndGreet, other, external, busy, holiday, birthday]
        status:
          type: string
          enum: [confirmed, requested, declined]
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        timezone:
          type: string
          example: Europe/London
        allDay:
          type: boolean
        pets:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              customerID:
                type: string
              type:
                type: string
              breed:
                type: string
              gender:
                type: string
        teamMembers:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              role:
                type: string
        service:
          type: object
          nullable: true
          description: Primary service
          properties:
            id:
              type: string
            title:
              type: string
            amount:
              type: number
            type:
              type: string
            cadence:
              type: string
        additionalServices:
          type: array
          items:
            type: object
        notes:
          type: string
        customerIDs:
          type: array
          items:
            type: string
        invoiceType:
          type: string
          enum: [none, single, whenStarted, prePaid]
          description: How this appointment raises an invoice, if at all.
        deposit:
          type: boolean
          description: >-
            Whether the generated invoice applies the company's default deposit
            (depositPercentage). Meaningless when invoiceType is 'none'.
        depositAmount:
          type: number
          nullable: true
          description: >-
            A fixed deposit in minor units, set by the apps instead of the company
            percentage. When present the invoice trigger uses it ahead of
            depositPercentage, so a booking can carry a real deposit with `deposit`
            false. Null when the booking has no fixed amount.
        depositDueDate:
          type: string
          format: date-time
          nullable: true
          description: >-
            The deposit deadline frozen onto this booking, which the generated invoice
            inherits. Null when none was set, which means the deposit falls due with the
            invoice itself (or on the company's depositDueDateOffset, applied when the
            invoice is raised). Only ever set for invoiceType 'single' or 'prePaid'.
        surcharges:
          type: array
          nullable: true
          readOnly: true
          items:
            $ref: '#/components/schemas/AppliedSurcharge'
        surchargeAmount:
          type: number
          nullable: true
          readOnly: true
          description: Sum of the applied surcharge entries' amounts, in pence/cents. Server-maintained.
        excludedSurchargeIDs:
          type: array
          readOnly: true
          items:
            type: string
          description: >-
            Canonical catalog surcharge ids that staff excluded from automatic
            pricing for this appointment. Manual, overridden and legacy keyless
            frozen rows are unaffected. API appointment writes cannot set this field.

    Invoice:
      type: object
      properties:
        id:
          type: string
        customerID:
          type: string
        customerFirstName:
          type: string
        customerLastName:
          type: string
        amount:
          type: number
          description: Amount in pence/cents
        currency:
          type: string
        country:
          type: string
        reference:
          type: string
        services:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              title:
                type: string
              amount:
                type: number
              quantity:
                type: integer
              cadence:
                type: string
              currency:
                type: string
              country:
                type: string
        pets:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              customerID:
                type: string
        payments:
          type: array
          items:
            type: object
        notes:
          type: string
        paid:
          type: boolean
        paymentMethod:
          type: string
          enum: [Payment link, Bank transfer, PayPal, Venmo, Cash, Cheque, Zelle, Cash App, Other, None]
        datePaid:
          type: string
          format: date-time
          nullable: true
        dueDate:
          type: string
          format: date-time
          nullable: true
        deposit:
          type: number
          nullable: true
          description: Deposit required up front (pence/cents). Part of `amount`, not an extra charge.
        depositDueDate:
          type: string
          format: date-time
          nullable: true
          description: >
            When the deposit falls due. Null means the deposit is due with the invoice
            (there is no separate deadline), which is how every invoice raised before
            deposit deadlines existed looks. Never later than `dueDate`.
        travelAmount:
          type: number
          nullable: true
        discountAmount:
          type: number
          nullable: true
        tipAmount:
          type: number
          nullable: true
        surcharges:
          type: array
          nullable: true
          readOnly: true
          items:
            $ref: '#/components/schemas/AppliedSurcharge'
        surchargeAmount:
          type: number
          nullable: true
          readOnly: true
          description: >-
            Sum of the applied surcharge entries' amounts, in pence/cents.
            Server-maintained; client-supplied surcharge fields on writes are
            ignored.
        serviceTaxPercentage:
          type: number
          nullable: true
        serviceTaxAmount:
          type: number
          nullable: true
        coveredDates:
          type: array
          items:
            type: string
            format: date-time
          description: Service dates used to evaluate date/day surcharge rules.
        createdDate:
          type: string
          format: date-time

    Expense:
      type: object
      properties:
        id:
          type: string
        amount:
          type: integer
          description: Amount in minor units (pence/cents) — e.g. 1000 = £10.00.
        category:
          type: string
          enum: [fuel, mileage, petSupplies, insurance, vehicleMaintenance, marketing, officeSupplies, vetSupplies, software, equipment, training, other]
        date:
          type: string
          format: date-time
        notes:
          type: string
          nullable: true
        vendor:
          type: string
          nullable: true
        teamMemberIDs:
          type: array
          items:
            type: string
        teamMemberNames:
          type: array
          items:
            type: string
        mileageDistance:
          type: number
          nullable: true
          description: Required for mileage category
        mileageRate:
          type: number
          nullable: true
          description: Required for mileage category
        reimbursed:
          type: boolean
        createdDate:
          type: string
          format: date-time

    Announcement:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        message:
          type: string
        picture:
          type: string
          nullable: true
        createdDate:
          type: string
          format: date-time

    Webhook:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
            enum:
              - appointment.created
              - appointment.updated
              - appointment.cancelled
              - appointment.deleted
              - customer.created
              - customer.updated
              - customer.deleted
              - pet.created
              - pet.updated
              - pet.deleted
              - invoice.created
              - invoice.updated
              - invoice.paid
              - invoice.overdue
              - invoice.deleted
              - expense.created
              - expense.updated
              - expense.deleted
              - service.created
              - surcharge.created
              - surcharge.updated
              - surcharge.deleted
              - service.updated
              - service.deleted
              - walk.started
              - walk.finished
              - hike.started
              - hike.finished
              - run.started
              - run.finished
              - taxi.started
              - taxi.finished
              - petsitting.started
              - petsitting.finished
              - petsitting.readyForPickup
              - activity.feedUpdated
              - message.received
              - contract.created
              - contract.signed
              - contract.updated
              - contract.deleted
              - announcement.created
              - announcement.updated
              - announcement.deleted
              - checklist.created
              - checklist.updated
              - checklist.deleted
              - custom_question.created
              - custom_question.updated
              - custom_question.deleted
              - address.created
              - address.updated
              - address.deleted
              - custom_update.created
              - custom_update.updated
              - custom_update.deleted
              - recurring_invoice.created
              - recurring_invoice.updated
              - recurring_invoice.deleted
              - appointment_window.created
              - appointment_window.updated
              - appointment_window.deleted
              - travel_log.created
              - travel_log.updated
              - travel_log.deleted
              - special_hours.created
              - special_hours.updated
              - special_hours.deleted
              - team_member.added
              - team_member.updated
              - team_member.removed
        secret:
          type: string
          description: HMAC-SHA256 secret for verifying webhook payloads
        createdDate:
          type: string
          format: date-time

    WebhookPayload:
      type: object
      properties:
        event:
          type: string
          example: appointment.created
        timestamp:
          type: string
          format: date-time
        data:
          type: object
          description: Event-specific payload

    CompanyInfo:
      type: object
      properties:
        companyName:
          type: string
          example: Walkies
        companyLogo:
          type: string
          nullable: true
        country:
          type: string
          example: GB
        currency:
          type: string
          example: GBP

    Error:
      type: object
      properties:
        error:
          type: string

    ActivityTeamMember:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        role:
          type: string
          example: Team Member
        picture:
          type: string
          nullable: true
    ActivityPet:
      type: object
      description: Embedded pet snapshot with per-activity tallies.
      properties:
        id:
          type: string
        name:
          type: string
        breed:
          type: string
        type:
          type: string
          example: dog
        picture:
          type: string
          nullable: true
        customerID:
          type: string
        wees:
          type: integer
        poos:
          type: integer
        food:
          type: integer
        water:
          type: integer
        treat:
          type: integer
        medication:
          type: integer
        litterBox:
          type: integer
    ActivityWeather:
      type: object
      nullable: true
      properties:
        temperature:
          type: number
          nullable: true
        condition:
          type: string
          example: cloudy
    ActivityService:
      type: object
      nullable: true
      properties:
        id:
          type: string
        title:
          type: string
        amount:
          type: number
        type:
          type: string
        cadence:
          type: string
    ChecklistItem:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        completed:
          type: boolean
    ActivityVideo:
      type: object
      properties:
        thumbnail:
          type: string
          nullable: true
        url:
          type: string
          nullable: true
    UpdatesSummary:
      type: object
      description: Timeline rollup. Raw GPS coordinates are never exposed.
      properties:
        count:
          type: integer
        photos:
          type: integer
        videos:
          type: integer
    Activity:
      type: object
      description: A recorded walk, hike, run, taxi journey, or check-in (shared WalkiesActivity model). Raw GPS and device identifiers are excluded.
      properties:
        id:
          type: string
        type:
          type: string
          example: walk
        companyID:
          type: string
          nullable: true
        active:
          type: boolean
        startTime:
          type: string
          format: date-time
          nullable: true
        endTime:
          type: string
          format: date-time
          nullable: true
        duration:
          type: integer
          description: Duration in seconds.
        distance:
          type: number
          description: Distance in metres.
        notes:
          type: string
        companyName:
          type: string
          nullable: true
        companyLogo:
          type: string
          nullable: true
        streetAddress:
          type: string
        city:
          type: string
        postcode:
          type: string
        weather:
          $ref: '#/components/schemas/ActivityWeather'
        service:
          $ref: '#/components/schemas/ActivityService'
        dogs:
          type: array
          items:
            $ref: '#/components/schemas/ActivityPet'
        teamMembers:
          type: array
          items:
            $ref: '#/components/schemas/ActivityTeamMember'
        petSittingIDs:
          type: array
          items:
            type: string
        additionalChecklistItems:
          type: array
          items:
            $ref: '#/components/schemas/ChecklistItem'
        walkImages:
          type: array
          items:
            type: string
        walkVideos:
          type: array
          items:
            $ref: '#/components/schemas/ActivityVideo'
        updates:
          $ref: '#/components/schemas/UpdatesSummary'
    PetSitting:
      type: object
      description: A boarding, daycare, overnight, or other pet sitting record. Raw GPS and device identifiers are excluded.
      properties:
        id:
          type: string
        type:
          type: string
          example: boarding
        companyID:
          type: string
          nullable: true
        active:
          type: boolean
        startTime:
          type: string
          format: date-time
          nullable: true
        endTime:
          type: string
          format: date-time
          nullable: true
        notes:
          type: string
        companyName:
          type: string
          nullable: true
        companyLogo:
          type: string
          nullable: true
        weather:
          $ref: '#/components/schemas/ActivityWeather'
        service:
          $ref: '#/components/schemas/ActivityService'
        pets:
          type: array
          items:
            $ref: '#/components/schemas/ActivityPet'
        teamMembers:
          type: array
          items:
            $ref: '#/components/schemas/ActivityTeamMember'
        additionalChecklistItems:
          type: array
          items:
            $ref: '#/components/schemas/ChecklistItem'
        updates:
          $ref: '#/components/schemas/UpdatesSummary'
    TeamMember:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: Alex Walker
        role:
          type: string
          enum: [Admin, Sub Admin, Team Member]
        active:
          type: boolean
        email:
          type: string
          nullable: true
        picture:
          type: string
          nullable: true
        color:
          type: string
          nullable: true
          description: Hex colour used for the team member in the calendar (e.g. "#4287f5")
          example: "#4287f5"
        activityRate:
          type: number
          nullable: true
          description: Pay rate per activity (pence/cents)
        hourlyRate:
          type: number
          nullable: true
          description: Pay rate per hour (pence/cents)
        mileRate:
          type: number
          nullable: true
          description: Pay rate per mile (pence/cents)
        serviceRates:
          type: object
          nullable: true
          additionalProperties:
            type: number
          description: Per-service pay rates keyed by service ID (pence/cents)
    Contract:
      type: object
      properties:
        id:
          type: string
        companyID:
          type: string
          nullable: true
        title:
          type: string
          example: Pet Sitting Agreement
        content:
          type: string
          description: Contract body. Newlines are preserved (stored internally with <br>).
        template:
          type: boolean
        templateID:
          type: string
          nullable: true
        customerID:
          type: string
          nullable: true
        primaryCustomerName:
          type: string
          nullable: true
        secondaryCustomerName:
          type: string
          nullable: true
        signed:
          type: boolean
        signedDate:
          type: string
          format: date-time
          nullable: true
        signedBy:
          type: string
          nullable: true
        sendToClients:
          type: boolean
        createdDate:
          type: string
          format: date-time
    CreditNote:
      type: object
      description: >
        Credit issued to a client. A credit note is a negative invoice, not a
        payment: applying one reduces what the client owes without any money
        changing hands, so it must never be counted as income. All amounts are
        in minor units (pence/cents). `notes` is deliberately omitted — it is
        the sitter's private field and is never returned by the API.
      properties:
        id:
          type: string
        companyID:
          type: string
          nullable: true
        customerID:
          type: string
          nullable: true
        reference:
          type: string
          description: Human-readable reference, always prefixed `CN-` so it is distinct from an invoice reference.
          example: CN-a1b2c3d4e5
        amount:
          type: integer
          description: Face value in minor units. Never changes once issued.
          example: 3000
        allocatedAmount:
          type: integer
          description: Sum of live (non-reversed) allocations.
          example: 1000
        remainingAmount:
          type: integer
          description: Still available to apply. Always 0 on a voided note.
          example: 2000
        status:
          type: string
          enum: [open, partiallyApplied, applied, void]
        reason:
          type: string
          description: Client-visible reason. May be empty — a reason is optional.
          example: Cancelled visit on 12 August
        currency:
          type: string
          nullable: true
          example: GBP
        country:
          type: string
          nullable: true
          example: GB
        serviceTaxPercentage:
          type: number
          nullable: true
        serviceTaxAmount:
          type: integer
          description: >
            Tax portion INCLUDED in `amount` (VAT-inclusive), unlike invoice tax
            which is added on top. On 20% against 5000 this is 833, not 1000.
        allocations:
          type: array
          items:
            $ref: '#/components/schemas/CreditNoteAllocation'
        dateIssued:
          type: string
          format: date-time
        dateCreated:
          type: string
          format: date-time
        voidedAt:
          type: string
          format: date-time
          nullable: true
    CreditNoteAllocation:
      type: object
      description: >
        One application of a credit note against one invoice. Reversal is soft —
        `reversedAt` is stamped and the entry is kept — so the audit trail
        survives a credit that was applied and then pulled back.
      properties:
        id:
          type: string
          description: Also the id of the matching row in the invoice's payments array, and the `allocationID` used to unapply.
        invoiceID:
          type: string
          nullable: true
        invoiceReference:
          type: string
        amount:
          type: integer
        dateApplied:
          type: string
          format: date-time
        reversedAt:
          type: string
          format: date-time
          nullable: true
    Checklist:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
          example: New Client Onboarding
        type:
          type: string
          enum: [customer, pet]
        items:
          type: array
          items:
            $ref: '#/components/schemas/ChecklistItem'
        pets:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              customerID:
                type: string
        customers:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              firstName:
                type: string
              lastName:
                type: string
    CustomQuestion:
      type: object
      description: >-
        A company-defined extra profile field. A `customer` question renders on the
        client profile editor, a `pet` question on the pet editor, and the answer is
        stored in that record's `customQuestionAnswers` map keyed by this id.
      properties:
        id:
          type: string
        title:
          type: string
          example: Where is the spare key kept?
        type:
          type: string
          enum: [customer, pet]
          description: Immutable after creation — changing it would orphan every existing answer.
        required:
          type: boolean
          description: >-
            Enforced only on the CLIENT-facing surfaces (the Journal apps and the
            self-signup link), which block the profile save until the question is
            answered. Sitter apps show the question but never block on it. The API
            deliberately does not enforce it either, so existing integrations keep
            working when a question is marked required.
    CustomQuestionAnswers:
      type: object
      description: >-
        Free-text answers keyed by custom question id (from GET /custom-questions).
        On PATCH the map is MERGED key by key: send only the answers you are
        changing and the rest are left untouched, or send the complete set as the
        apps do. Either way "" means unanswered, and sending "" is how an answer is
        cleared. Maximum 100 entries, 2000 characters each. An id matching no
        question is stored but never displayed.
      additionalProperties:
        type: string
      example:
        aB3dEfGhIjKlMnOpQrSt: Under the third plant pot
    Address:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: Home
        lineOne:
          type: string
        lineTwo:
          type: string
        city:
          type: string
        postcode:
          type: string
        state:
          type: string
        country:
          type: string
        lat:
          type: number
        long:
          type: number
    CustomUpdate:
      type: object
      description: A reusable custom timeline update (CustomTimelineUpdate).
      properties:
        id:
          type: string
        message:
          type: string
        type:
          type: string
          enum: [pet, general]
        serviceTypes:
          type: array
          items:
            type: string
        customers:
          type: array
          items:
            type: object
        pets:
          type: array
          items:
            type: object
    RecurringInvoice:
      type: object
      description: >-
        An automatic (recurring) invoice schedule. The system generates an invoice for
        the customer's activities on each run. frequency=weekly/biweekly/monthly,
        dayOfWeek 0=Sunday..6=Saturday, timeOfDay 24h HH:mm, direction=past/future,
        status=active/paused.
      properties:
        id: { type: string }
        customerID: { type: string }
        customerFirstName: { type: string }
        customerLastName: { type: string }
        frequency: { type: string, enum: [weekly, biweekly, monthly] }
        dayOfWeek: { type: integer, description: 0=Sunday..6=Saturday }
        timeOfDay: { type: string, description: "24-hour HH:mm" }
        direction: { type: string, enum: [past, future] }
        timezone: { type: string }
        status: { type: string, enum: [active, paused] }
        dueDateOffset: { type: integer, description: Days until the generated invoice is due }
        paymentMethod: { type: string }
        pets: { type: array, items: { type: object } }
        nextGenerationDate: { type: string, format: date-time, nullable: true }
        lastGeneratedDate: { type: string, format: date-time, nullable: true }
        createdDate: { type: string, format: date-time, nullable: true }
    AppointmentWindow:
      type: object
      description: A bookable time window. startTime/endTime are 24-hour HH:mm; days are weekday numbers (0=Sunday).
      properties:
        id: { type: string }
        name: { type: string }
        startTime: { type: string, description: "24-hour HH:mm" }
        endTime: { type: string, description: "24-hour HH:mm" }
        days:
          type: array
          items: { type: integer }
          description: Weekday numbers 0=Sunday..6=Saturday
    NotificationSettings:
      type: object
      description: >-
        Per-event toggles for what CUSTOMERS get notified about. All booleans (default
        true). Keys include walkStarted, walkFinished, invoiceCreated, appointmentBooked,
        appointmentAccepted, readyForPickup, etc.
      additionalProperties: { type: boolean }
    BookingSettings:
      type: object
      description: Customer-facing booking, availability and cancellation settings.
      properties:
        allowClientBooking: { type: boolean, description: Whether customers can request/book appointments }
        allowTeamMemberSelection: { type: boolean, nullable: true, description: Whether customers can pick a team member }
        appointmentWindows: { type: boolean, nullable: true, description: Whether bookings use appointment windows }
        appointmentWindowsBasedOnAvailability: { type: boolean, nullable: true }
        checkAvailability: { type: boolean, description: Whether availability is checked when customers book (so they cannot book unavailable slots) }
        allowCustomerCancellation: { type: boolean, description: Whether customers can cancel }
        cancellationDaysBeforeAppointment: { type: integer, description: Minimum days before an appointment a customer may cancel }
    RegionSettings:
      type: object
      description: >-
        Company region. Setting `country` auto-sets `currency` (the apps' country→currency map);
        `currency` sent on its own (no `country`) is used as-is. `timezone` is the authoritative
        booking calendar and cannot be changed once future appointments, repeat series,
        weekly/special hours, appointment windows, surcharge rules, or recurring invoices exist.
      properties:
        country: { type: string, description: ISO 3166-1 alpha-2 country code (e.g. US, GB, FR). Setting this auto-sets currency. }
        currency: { type: string, description: ISO 4217 currency code. Derived from country when country is set; honoured directly only when country is omitted. }
        timezone: { type: string, description: IANA timezone name (e.g. Europe/London, America/New_York). }
    TravelLog:
      type: object
      description: A recorded travel/mileage log. Read-only. Raw GPS coordinates are excluded.
      properties:
        id:
          type: string
        companyID:
          type: string
          nullable: true
        distance:
          type: number
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
          nullable: true
        active:
          type: boolean
        pets:
          type: array
          items:
            type: object
        teamMembers:
          type: array
          items:
            type: object
        loggingTeamMember:
          type: object
          nullable: true
        appointmentID:
          type: string
          nullable: true
        startOdometerReading:
          type: number
          nullable: true
        endOdometerReading:
          type: number
          nullable: true
    SpecialHours:
      type: object
      description: >-
        A date-specific exception to the normal weekly opening hours — a day off,
        holiday, or one-off different hours. closed=true means not working that whole
        day (times is empty). The date is in the company timezone.
      properties:
        id:
          type: string
        date:
          type: string
          format: date
          description: The calendar date this applies to (YYYY-MM-DD, in the company timezone)
        closed:
          type: boolean
          description: true = closed / not working all day; false = open with the time blocks below
        times:
          type: array
          description: Open time blocks for the day (empty when closed)
          items:
            type: object
            properties:
              start:
                type: string
                description: Block start, 24-hour HH:mm (e.g. 09:00)
              end:
                type: string
                description: Block end, 24-hour HH:mm (e.g. 17:00)
    WorkingDay:
      type: object
      description: >-
        The regular WEEKLY working/opening hours for one weekday. closed=true means
        no hours that weekday (times is empty). Blocks are non-overlapping.
      properties:
        day:
          type: integer
          description: Weekday index, 0=Sunday … 6=Saturday
        dayName:
          type: string
          description: Weekday name (e.g. Monday)
        closed:
          type: boolean
          description: true = closed that weekday (times is empty)
        times:
          type: array
          description: Open time blocks for the weekday (empty when closed)
          items:
            type: object
            properties:
              start:
                type: string
                description: Block start, 24-hour HH:mm (e.g. 09:00)
              end:
                type: string
                description: Block end, 24-hour HH:mm (e.g. 17:00)
    Company:
      type: object
      description: Merged public company profile plus read-only counters. Region fields (country/currency/timezone) are read-only and cannot be set via PATCH.
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        location:
          type: string
        logo:
          type: string
          nullable: true
        cover:
          type: string
          nullable: true
        profile:
          type: string
          nullable: true
        color:
          type: string
          nullable: true
        address:
          type: object
          nullable: true
        country:
          type: string
          readOnly: true
        currency:
          type: string
          readOnly: true
        timezone:
          type: string
          readOnly: true
        preferredPaymentMethod:
          type: string
          nullable: true
        preferredInvoiceType:
          type: string
          nullable: true
        customerPaysFee:
          type: boolean
        serviceTax:
          type: number
          nullable: true
        depositPercentage:
          type: number
          nullable: true
        dueDateOffset:
          type: integer
          nullable: true
        depositDueDateOffset:
          type: integer
          nullable: true
          description: >
            Days after an invoice is RAISED that its deposit falls due. Counted from the
            invoice creation date, unlike dueDateOffset, which a booked invoice counts
            from the service date. Null means deposits are due with the invoice.
        invoicesEnabled:
          type: boolean
        sendContracts:
          type: boolean
        appointmentSharing:
          type: boolean
        invoiceRemindersEnabled:
          type: boolean
          description: Automatic reminders for unpaid invoices. Enabling via PATCH requires a Max subscription.
        appointmentReminders:
          type: boolean
          description: Reminders sent to clients before appointments. Enabling via PATCH requires a Max subscription.
        appointmentReminderDelay:
          type: integer
          nullable: true
          description: Minutes before the appointment the reminder is sent.
        bankTransfer:
          type: object
          nullable: true
          description: Bank-transfer details. Sub-fields accountNumber and routingNumber (US routing / UK sort code / CA transit). Deep-merged on PATCH — send only the fields you're changing.
          properties:
            accountNumber: { type: string }
            routingNumber: { type: string }
        paypalURL:
          type: string
          nullable: true
          description: PayPal username only (no URL / @). Rendered as paypal.me/<username>.
        venmoURL:
          type: string
          nullable: true
          description: Venmo username only (no URL / @). Rendered as venmo.com/<username>.
        cashAppURL:
          type: string
          nullable: true
          description: Cash App cashtag including the leading $ (e.g. $jane). Rendered as cash.app/$<cashtag>.
        zelleInformation:
          type: string
          nullable: true
          description: Zelle recipient — an email or phone number.
        chequeTitle:
          type: string
          nullable: true
          description: Payee name for cheques.
        otherService:
          type: string
          nullable: true
          description: Free-text instructions for the "Other" payment method.
        subscriptionStatus:
          type: string
          nullable: true
          readOnly: true
        teamMemberCount:
          type: integer
          readOnly: true
        walkCount:
          type: integer
          readOnly: true
        hikeCount:
          type: integer
          readOnly: true
        runCount:
          type: integer
          readOnly: true
        taxiCount:
          type: integer
          readOnly: true
        petSittingCount:
          type: integer
          readOnly: true
        checkInCount:
          type: integer
          readOnly: true
    Conversation:
      type: object
      properties:
        id:
          type: string
        customerID:
          type: string
        customerFirstName:
          type: string
        customerLastName:
          type: string
        unreadCompanyMessageCount:
          type: integer
        unreadCustomerMessageCount:
          type: integer
        lastMessage:
          type: object
          nullable: true
    Message:
      type: object
      properties:
        id:
          type: string
        message:
          type: string
        senderID:
          type: string
        customerID:
          type: string
        companyRead:
          type: boolean
        customerRead:
          type: boolean
        sentDate:
          type: string
          format: date-time
          nullable: true
        sentByAssistant:
          type: boolean
          description: Present and true when this message was sent by the Walkies AI assistant. Omitted for messages sent by a human team member.

paths:
  /me:
    get:
      summary: Test Authentication
      description: Returns company information for the authenticated API key. Use this to verify your key is valid.
      tags: [Authentication]
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyInfo'
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Walkies API subscription required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /customers:
    get:
      summary: List Customers
      description: Returns all customers. Optionally filter by email or name.
      tags: [Customers]
      parameters:
        - name: email
          in: query
          schema:
            type: string
          description: Filter by exact email match
        - name: name
          in: query
          schema:
            type: string
          description: Filter by name (partial match on first + last name)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer'
    post:
      summary: Create Customer
      tags: [Customers]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [firstName, lastName]
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                email:
                  type: string
                phoneNumber:
                  type: string
                address:
                  type: string
                notes:
                  type: string
                accessInformation:
                  type: string
                emergencyContactName:
                  type: string
                emergencyPhoneNumber:
                  type: string
                preferredPaymentMethod:
                  type: string
                  enum: [Payment link, Bank transfer, PayPal, Venmo, Cash, Cheque, Zelle, Cash App, Other, None]
                preferredInvoiceType:
                  type: string
                  description: This client's default billing/invoice type.
                  enum: [single, whenStarted, prePaid, recurring, none]
                secondaryFirstName:
                  type: string
                secondaryLastName:
                  type: string
                secondaryEmail:
                  type: string
                secondaryPhoneNumber:
                  type: string
                imageUrl:
                  type: string
                  description: URL of a profile picture (max 5MB)
                imageBase64:
                  type: string
                  description: Base64-encoded profile picture (max 5MB)
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'

  /customers/{id}:
    delete:
      summary: Delete Customer
      description: Soft-deletes (archives) by default, reversible via POST /customers/{id}/restore. Pass ?hard=true with header X-Confirm-Delete:true to permanently delete and cascade conversations, messages and pets.
      tags: [Customers]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: hard
          in: query
          schema:
            type: boolean
        - name: X-Confirm-Delete
          in: header
          schema:
            type: string
            enum: ['true']
      responses:
        '200':
          description: Archived (soft) or permanently deleted (hard)
        '400':
          description: Hard delete attempted without the X-Confirm-Delete header
        '404':
          description: Customer not found
    get:
      summary: Get Customer
      tags: [Customers]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '404':
          description: Customer not found
    patch:
      summary: Update Customer
      tags: [Customers]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                email:
                  type: string
                phoneNumber:
                  type: string
                address:
                  type: string
                notes:
                  type: string
                preferredPaymentMethod:
                  type: string
                  description: This client's default payment method.
                  enum: [Payment link, Bank transfer, PayPal, Venmo, Cash, Cheque, Zelle, Cash App, Other, None]
                preferredInvoiceType:
                  type: string
                  description: This client's default billing/invoice type (priority over the company default).
                  enum: [single, whenStarted, prePaid, recurring, none]
                imageUrl:
                  type: string
                  description: URL of a profile picture (max 5MB)
                imageBase64:
                  type: string
                  description: Base64-encoded profile picture (max 5MB)
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'

  /pets:
    post:
      summary: Create Pet
      tags: [Pets]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, customerID, type, gender]
              properties:
                name:
                  type: string
                customerID:
                  type: string
                type:
                  type: string
                  enum: [dog, cat, pig, bird, fish, small pet, reptile, horse, other]
                gender:
                  type: string
                  enum: [Male, Female]
                breed:
                  type: string
                weight:
                  type: string
                neutered:
                  type: boolean
                microchipped:
                  type: boolean
                medicalInformation:
                  type: string
                foodInformation:
                  type: string
                vetPhoneNumber:
                  type: string
                dobDay:
                  type: integer
                dobMonth:
                  type: integer
                dobYear:
                  type: integer
                imageUrl:
                  type: string
                imageBase64:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pet'
        '400':
          description: Validation error or customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List Pets
      description: Returns pets. Optionally filter by customer or name.
      tags: [Pets]
      parameters:
        - name: customerID
          in: query
          schema:
            type: string
        - name: name
          in: query
          schema:
            type: string
          description: Filter by pet name (partial match)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pet'

  /services:
    get:
      summary: List Services
      description: Returns all configured services for your company.
      tags: [Services]
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Service'
    post:
      summary: Create Service
      tags: [Services]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, type, amount]
              properties:
                title:
                  type: string
                  example: 1 Hour Walk
                type:
                  type: string
                  enum: [walk, dropin, hike, run, taxi, daycare, boarding, overnight, homeSitting, training, grooming, meetAndGreet, other]
                amount:
                  type: integer
                  description: >-
                    Price in MINOR UNITS (pence/cents), NOT major units. Multiply the user's amount
                    by 100 — e.g. £25.00 = 2500, £10 = 1000.
                  example: 2500
                cadence:
                  type: string
                  enum: [perService, perDay, perNight]
                  default: perService
                description:
                  type: string
                duration:
                  type: integer
                  description: Duration in minutes
                additionalPetAmount:
                  type: integer
                  description: Extra charge per additional pet, in MINOR UNITS (pence/cents) — × 100, e.g. £5 = 500.
                additionalPetAmounts:
                  type: object
                  additionalProperties:
                    type: integer
                    minimum: 0
                  description: >-
                    Per-species extra charge per additional pet, in MINOR UNITS, keyed by pet type
                    (dog, cat, pig, bird, fish, small pet, reptile, horse, other). Values must be
                    non-negative integers; 0 makes that species free as an additional pet. A pet
                    type with no key falls back to additionalPetAmount.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'

  /services/{id}:
    patch:
      summary: Update Service
      tags: [Services]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                type:
                  type: string
                amount:
                  type: number
                  description: Amount in pence/cents
                cadence:
                  type: string
                  enum: [perService, perDay, perNight]
                description:
                  type: string
                duration:
                  type: integer
                additionalPetAmount:
                  type: integer
                  description: Extra charge per additional pet, in MINOR UNITS (pence/cents).
                additionalPetAmounts:
                  type: object
                  nullable: true
                  additionalProperties:
                    type: integer
                    minimum: 0
                  description: >-
                    Per-species extra charge per additional pet, in MINOR UNITS, keyed by pet type
                    (dog, cat, pig, bird, fish, small pet, reptile, horse, other). The map replaces
                    the stored one wholesale (omitted species are removed). Send null to clear every
                    per-species rate.
                hidden:
                  type: boolean
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        '404':
          description: Service not found
    delete:
      summary: Delete Service
      description: Soft-deletes the service (sets hidden=true) so existing invoice/appointment references are preserved.
      tags: [Services]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted (hidden)
        '404':
          description: Service not found
    get:
      summary: Get Service
      tags: [Services]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        '404':
          description: Service not found

  /surcharges:
    get:
      summary: List Surcharges
      description: Returns the company's surcharge catalog.
      tags: [Surcharges]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Maximum rules to return in this page.
        - name: cursor
          in: query
          schema:
            type: string
          description: Document id returned in X-Next-Cursor by the previous page.
      responses:
        '200':
          description: Success
          headers:
            X-Next-Cursor:
              description: Pass this value as cursor to read the next page. Omitted when no further page is indicated.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Surcharge'
    post:
      summary: Create Surcharge
      description: >-
        Creates a catalog surcharge. It auto-applies to matching NEW bookings
        from creation onward; existing appointments and invoices are never
        retro-surcharged.
      tags: [Surcharges]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, valueType]
              properties:
                title:
                  type: string
                  maxLength: 100
                  example: Christmas
                valueType:
                  type: string
                  enum: [fixed, percentage]
                amount:
                  type: integer
                  minimum: 1
                  description: >-
                    Required for valueType fixed. MINOR UNITS (pence/cents), NOT
                    major units: £5.00 = 500.
                  example: 500
                percentage:
                  type: number
                  minimum: 0
                  exclusiveMinimum: true
                  maximum: 100
                  description: Required for valueType percentage. Must be above 0 and no more than 100; 15 = 15% of the matched services' line totals.
                startDate:
                  type: string
                  format: date
                  description: Inclusive company-local calendar date. Offset-bearing date-times are accepted for compatibility and normalised to the containing company day.
                endDate:
                  type: string
                  format: date
                  description: Inclusive company-local calendar date. Offset-bearing date-times are accepted for compatibility and normalised to the containing company day.
                repeatsAnnually:
                  type: boolean
                  default: false
                  description: Both startDate and endDate are required when true.
                daysOfWeek:
                  type: array
                  items:
                    type: integer
                    minimum: 0
                    maximum: 6
                  description: 0 = Sunday .. 6 = Saturday. Omit or empty for any day.
                startMinuteOfDay:
                  type: integer
                  minimum: 0
                  maximum: 1439
                  description: >-
                    Company-local minute of day (540 = 09:00). Tests the
                    appointment's START time; wraps midnight when end < start.
                    Both time bounds must be supplied and cannot be equal.
                endMinuteOfDay:
                  type: integer
                  minimum: 0
                  maximum: 1439
                  description: Must be supplied with startMinuteOfDay and cannot equal it.
                serviceIDs:
                  type: array
                  items:
                    type: string
                  description: Omit or empty for all services.
                petTypes:
                  type: array
                  items:
                    type: string
                    enum: [dog, cat, pig, bird, fish, small pet, reptile, horse, other]
                  description: Omit or empty for any pet. Combined with petIDs as an intersection.
                petIDs:
                  type: array
                  items:
                    type: string
                customerIDs:
                  type: array
                  items:
                    type: string
                  description: Omit or empty for any client. Tested against each pet's own owner, not the appointment's customer, so a booking shared by two households is surcharged only for the scoped client's pets.
                hidden:
                  type: boolean
                  default: false
                position:
                  type: integer
                  default: 0
                  minimum: 0
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Surcharge'

  /surcharges/{id}:
    get:
      summary: Get Surcharge
      tags: [Surcharges]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Surcharge'
        '404':
          description: Surcharge not found
    patch:
      summary: Update Surcharge
      description: >-
        Updates the catalog entry only. Surcharges already applied to
        appointments or invoices are frozen snapshots and never change.
        Explicit null clears an optional window field (startDate, endDate,
        startMinuteOfDay, endMinuteOfDay). Time bounds must be set or cleared
        together. An annual date bound cannot be cleared unless
        repeatsAnnually is also disabled (or both annual bounds remain set).
      tags: [Surcharges]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  maxLength: 100
                valueType:
                  type: string
                  enum: [fixed, percentage]
                amount:
                  type: integer
                  minimum: 1
                  description: Positive MINOR UNITS (pence/cents).
                percentage:
                  type: number
                  minimum: 0
                  exclusiveMinimum: true
                  maximum: 100
                  description: Must be above 0 and no more than 100.
                startDate:
                  type: string
                  format: date
                  nullable: true
                  description: Inclusive company-local calendar date; null clears it.
                endDate:
                  type: string
                  format: date
                  nullable: true
                  description: Inclusive company-local calendar date; null clears it.
                repeatsAnnually:
                  type: boolean
                daysOfWeek:
                  type: array
                  items:
                    type: integer
                    minimum: 0
                    maximum: 6
                startMinuteOfDay:
                  type: integer
                  nullable: true
                  minimum: 0
                  maximum: 1439
                  description: Set or clear together with endMinuteOfDay; the two values cannot be equal.
                endMinuteOfDay:
                  type: integer
                  nullable: true
                  minimum: 0
                  maximum: 1439
                  description: Set or clear together with startMinuteOfDay; the two values cannot be equal.
                serviceIDs:
                  type: array
                  items:
                    type: string
                petTypes:
                  type: array
                  items:
                    type: string
                    enum: [dog, cat, pig, bird, fish, small pet, reptile, horse, other]
                petIDs:
                  type: array
                  items:
                    type: string
                customerIDs:
                  type: array
                  items:
                    type: string
                hidden:
                  type: boolean
                position:
                  type: integer
                  minimum: 0
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Surcharge'
        '404':
          description: Surcharge not found
    delete:
      summary: Delete Surcharge
      description: >-
        Permanently deletes the catalog entry (unlike the soft-hide on
        services). Applied surcharges are frozen copies, so issued invoices
        keep rendering their snapshots; deletion only stops future
        auto-apply and removes it from pickers.
      tags: [Surcharges]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
        '404':
          description: Surcharge not found

  /appointments:
    get:
      summary: List Appointments
      tags: [Appointments]
      parameters:
        - name: customerID
          in: query
          schema:
            type: string
        - name: date
          in: query
          schema:
            type: string
            format: date
          description: Filter by date (YYYY-MM-DD)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Appointment'
    post:
      summary: Create Appointment
      description: >-
        Creates an appointment in the company's configured IANA timezone.
        Offsetless date-times are interpreted as company-local wall times;
        offset-bearing RFC3339 values identify an instant which is displayed in
        the company timezone. Booking is refused when the company has no valid
        timezone. A caller cannot override the appointment timezone.
      tags: [Appointments]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [startDate]
              properties:
                startDate:
                  type: string
                  format: date-time
                endDate:
                  type: string
                  format: date-time
                  description: When omitted, defaults to startDate plus the primary service's duration (minutes); falls back to startDate if the service has no duration.
                timezone:
                  type: string
                  readOnly: true
                  description: >-
                    Ignored on input. The server stamps the company's configured
                    IANA timezone.
                status:
                  type: string
                  enum: [confirmed, requested]
                  default: confirmed
                serviceID:
                  type: string
                  description: ID of a service from GET /services. The appointment's `type` is derived from this service (a "dropin" service becomes a "checkIn" appointment); a service-less appointment is "other". `type` cannot be set directly.
                petIDs:
                  type: array
                  items:
                    type: string
                  description: Pet IDs to include
                teamMemberIDs:
                  type: array
                  items:
                    type: string
                  description: >-
                    Team member IDs to assign. When omitted on a single-person team, the
                    sole team member is auto-assigned (mirrors the app); multi-person
                    teams are left unassigned.
                customerIDs:
                  type: array
                  items:
                    type: string
                  description: Customer IDs (auto-derived from pets if not provided)
                createdByTeamMemberID:
                  type: string
                  description: >-
                    Optional. The team member to record as the creator of this appointment, validated
                    against your team (an unknown id returns 400). When set, it is stored on the
                    appointment as the creator. When omitted, the appointment is created with no
                    creator attribution (the field is left unset).
                confirmOverlap:
                  type: boolean
                  description: >-
                    If the new appointment overlaps an existing one (same team member or pet), the
                    API returns 200 with `{ requiresConfirmation: true, warning }` and does NOT book.
                    Re-send the request with confirmOverlap=true to book anyway. (External API keys
                    instead book immediately and get a `warning` on the created appointment.)
                invoiceType:
                  type: string
                  enum: [none, single, whenStarted]
                  description: >-
                    How the appointment is billed. DEFAULTS TO 'none' — booking does NOT
                    create an invoice unless you explicitly pass 'single' (invoice now) or
                    'whenStarted' (invoice when the visit starts). Client/company billing
                    preferences are NOT auto-applied; create an invoice separately if needed.
                paymentMethod:
                  type: string
                  description: >-
                    Optional override for the generated invoice's payment method (only used
                    when invoiceType is single/whenStarted). When omitted on an invoiced
                    appointment, it's resolved from the client's preferredPaymentMethod, then
                    the company's, then 'None'. Ignored when there's no invoice.
                deposit:
                  type: boolean
                  description: >-
                    Optional. Whether the generated invoice applies the company's default
                    deposit (depositPercentage). Defaults to true when the appointment is
                    invoiced (invoiceType is not 'none'), false otherwise. The due date
                    always follows the company's dueDateOffset.
                depositDueDate:
                  type: string
                  format: date-time
                  description: >-
                    Optional. Freezes a deposit deadline onto the booking, which the
                    generated invoice inherits. Returns 400 unless invoiceType is 'single'
                    AND the booking takes a deposit: a date stamped at booking is already
                    stale by the time a 'whenStarted' invoice is raised, so that path always
                    recomputes, and a booking with no deposit has nothing for the deadline
                    to apply to. Omit to use the company's depositDueDateOffset.
                allDay:
                  type: boolean
                  default: false
                notes:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'

  /invoices:
    get:
      summary: List Invoices
      tags: [Invoices]
      parameters:
        - name: customerID
          in: query
          schema:
            type: string
        - name: paid
          in: query
          schema:
            type: string
            enum: ['true', 'false']
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice'
    post:
      summary: Create Invoice
      description: |
        Creates an invoice for a customer. Services must reference existing services from your account (use GET /services to list them).
        Customer pets are automatically included.

        This route has two explicit pricing contracts. Existing integrations
        remain on `legacy-total-v1` when `pricingProtocol` is omitted: `amount`
        is the already-composed final invoice total, and optional tax, travel
        and discount fields are stored without changing that total. Automatic
        surcharges are not applied on the legacy protocol.

        Set `pricingProtocol` to `service-subtotal-v2` to use automatic pricing.
        In v2, `amount` overrides the selected services' subtotal; automatic
        surcharges and tax are then resolved and travel is added and discount
        subtracted. No request shape is used to infer v2.
      tags: [Invoices]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [customerID]
              properties:
                pricingProtocol:
                  type: string
                  enum: [legacy-total-v1, service-subtotal-v2]
                  default: legacy-total-v1
                  description: >-
                    Explicit amount/pricing contract. Omit (or use
                    legacy-total-v1) to keep amount as the final total exactly
                    as in the original API. Use service-subtotal-v2 to treat
                    amount as a service-subtotal override and automatically
                    compose surcharge, tax, travel and discount. Unknown
                    values are rejected; the server never guesses from other
                    fields.
                customerID:
                  type: string
                serviceIDs:
                  type: array
                  items:
                    type: string
                  description: IDs of services from GET /services
                amount:
                  type: number
                  description: >-
                    Amount in pence/cents. Under the default
                    legacy-total-v1 protocol this is the final invoice total.
                    Under service-subtotal-v2 it overrides the selected
                    services' subtotal before surcharge, tax, travel and
                    discount. When omitted, both protocols start from the
                    selected services' calculated amount.
                coveredDates:
                  type: array
                  maxItems: 366
                  items:
                    type: string
                    format: date-time
                  description: >-
                    service-subtotal-v2 only. Dates the services cover,
                    evaluated in the company timezone. Supply these for
                    calendar/day-of-week surcharge rules. When omitted only
                    rules without date, weekday or time predicates auto-apply.
                    Ignored under legacy-total-v1.
                paymentMethod:
                  type: string
                  enum: [Payment link, Bank transfer, PayPal, Venmo, Cash, Cheque, Zelle, Cash App, Other, None]
                  description: Defaults to your company's preferred payment method (Settings) when omitted.
                notes:
                  type: string
                dueDate:
                  type: string
                  format: date-time
                  description: Defaults to your company's invoice terms (creation date + due-date offset days, default 7) when omitted.
                deposit:
                  type: number
                  description: Deposit required up front (pence/cents). Omit or pass 0 for no deposit.
                depositDueDate:
                  type: string
                  format: date-time
                  description: >
                    When the deposit falls due. Only written alongside a deposit, and clamped
                    so it can never fall after dueDate. Omit to use your company's
                    depositDueDateOffset, or to leave the deposit due with the invoice.
                travelAmount:
                  type: number
                  description: >-
                    Travel charge (pence/cents). Added to amount by
                    service-subtotal-v2; descriptive only under
                    legacy-total-v1 because amount is already final.
                discountAmount:
                  type: number
                  description: >-
                    Discount (pence/cents). Subtracted from amount by
                    service-subtotal-v2; descriptive only under
                    legacy-total-v1 because amount is already final.
                serviceTaxPercentage:
                  type: number
                  description: >-
                    In service-subtotal-v2, the tax percentage applied to the
                    service subtotal plus automatic surcharge; defaults to the
                    company setting when omitted. In legacy-total-v1 it is
                    stored only and does not change amount.
                serviceTaxAmount:
                  type: number
                  description: >-
                    Tax in minor units. In service-subtotal-v2, when
                    serviceTaxPercentage is supplied (or configured by the
                    company), this must equal that percentage of the service
                    subtotal plus automatic surcharge; an inconsistent
                    override is rejected. In legacy-total-v1 it is stored only
                    and does not change amount.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'

  /expenses:
    get:
      summary: List Expenses
      tags: [Expenses]
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [fuel, mileage, petSupplies, insurance, vehicleMaintenance, marketing, officeSupplies, vetSupplies, software, equipment, training, other]
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Expense'
    post:
      summary: Create Expense
      tags: [Expenses]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, category, date]
              properties:
                amount:
                  type: integer
                  description: >-
                    Amount in MINOR UNITS (pence/cents), NOT major units. Multiply the user's amount
                    by 100 — e.g. £10.00 = 1000, £12.50 = 1250, $5 = 500.
                  example: 1000
                category:
                  type: string
                  enum: [fuel, mileage, petSupplies, insurance, vehicleMaintenance, marketing, officeSupplies, vetSupplies, software, equipment, training, other]
                date:
                  type: string
                  format: date-time
                vendor:
                  type: string
                notes:
                  type: string
                mileageDistance:
                  type: number
                  description: Required for mileage category
                mileageRate:
                  type: number
                  description: Required for mileage category
                teamMemberIDs:
                  type: array
                  items:
                    type: string
                teamMemberNames:
                  type: array
                  items:
                    type: string
                createdByTeamMemberID:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Expense'

  /announcements:
    get:
      summary: List Announcements
      tags: [Announcements]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Announcement'
    post:
      summary: Create Announcement
      description: Creates an announcement that is sent to all customers.
      tags: [Announcements]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title:
                  type: string
                message:
                  type: string
                imageUrl:
                  type: string
                  description: URL of an image to attach (max 5MB)
                imageBase64:
                  type: string
                  description: Base64-encoded image (max 5MB)
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Announcement'

  /messages:
    post:
      summary: Send Message
      description: Sends a message to a customer. The customer must have connected their journal (linked or secondaryLinked must be true).
      tags: [Messages]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [customerID, message]
              properties:
                customerID:
                  type: string
                message:
                  type: string
      responses:
        '201':
          description: Sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  conversationID:
                    type: string
                  message:
                    type: string
                  sentDate:
                    type: string
                    format: date-time
        '400':
          description: Customer not linked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /walks:
    get:
      summary: List Walks
      tags: [Walks]
      parameters:
        - name: active
          in: query
          schema:
            type: string
            enum: ['true', 'false']
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Activity'
  /walks/{id}:
    get:
      summary: Get Walk
      tags: [Walks]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        '404':
          description: Walk not found
  /hikes:
    get:
      summary: List Hikes
      tags: [Hikes]
      parameters:
        - name: active
          in: query
          schema:
            type: string
            enum: ['true', 'false']
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Activity'
  /hikes/{id}:
    get:
      summary: Get Hike
      tags: [Hikes]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        '404':
          description: Hike not found
  /runs:
    get:
      summary: List Runs
      tags: [Runs]
      parameters:
        - name: active
          in: query
          schema:
            type: string
            enum: ['true', 'false']
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Activity'
  /runs/{id}:
    get:
      summary: Get Run
      tags: [Runs]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        '404':
          description: Run not found
  /taxis:
    get:
      summary: List Taxis
      tags: [Taxis]
      parameters:
        - name: active
          in: query
          schema:
            type: string
            enum: ['true', 'false']
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Activity'
  /taxis/{id}:
    get:
      summary: Get Taxi
      tags: [Taxis]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        '404':
          description: Taxi not found
  /checkins:
    get:
      summary: List Check-Ins
      tags: [Check-Ins]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Activity'
  /checkins/{id}:
    get:
      summary: Get Check-In
      tags: [Check-Ins]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        '404':
          description: Check-in not found
  /petsittings:
    get:
      summary: List Pet Sittings
      tags: [Pet Sittings]
      parameters:
        - name: active
          in: query
          schema:
            type: string
            enum: ['true', 'false']
        - name: type
          in: query
          schema:
            type: string
            enum: [daycare, boarding, overnight, homeSitting, dropIn, training, grooming, meetAndGreet]
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PetSitting'
  /petsittings/{id}:
    get:
      summary: Get Pet Sitting
      tags: [Pet Sittings]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
[...]
